openapi: 3.0.1
info:
  title: Yapily Beneficiaries Application Beneficiaries Authorisations API
  description: Application and User Beneficiaries endpoints for managing reusable payment counterparties.
  version: 12.4.0
  contact:
    name: Yapily Support
    url: https://docs.yapily.com/resources/support
    email: support@yapily.com
servers:
- url: https://api.yapily.com
security:
- basicAuth: []
tags:
- description: 'Before calling [Financial Data](#yapily-api-financial-data) or [Payments](#yapily-api-payments) endpoints, a consent from an end-user must be obtained.


    Consents are valid for up to 90 days for Financial Data endpoints and have a single-use for Payment endpoints i.e. a new consent must be obtained for each payment.


    NOTE: A user consent is also referred to as an ''Authorisation''.'
  name: Authorisations
paths:
  /account-auth-requests:
    patch:
      description: Used to prompt the account holder for continued access to their financial data. This endpoint should be used when a `Consent` that was previously `AUTHORIZED` can no longer be used to retrieve data.
      operationId: reAuthoriseAccount
      x-mint:
        content: '<Info>Learn more: [Re-Authorisation](/data/financial-data-resources/financial-data-consents#re-authorisation)</Info>'
      parameters:
      - description: __Mandatory__. The `consent-token` containing the user's authorisation to make the request.
        example: '{consentToken}'
        in: header
        name: consent
        required: true
        schema:
          type: string
      - description: "__Conditional__. Represents the user's login ID for the `Institution` to a personal account. \n\nSee [PSU identifiers](/open-banking-flow/user-authorisation/psu-identifiers) to see if this header is required."
        in: header
        name: psu-id
        required: false
        schema:
          type: string
      - description: "__Conditional__. Represents the user's login ID for the `Institution` to a business account. \n\nSee [PSU identifiers](/open-banking-flow/user-authorisation/psu-identifiers) to see if this header is required."
        in: header
        name: psu-corporate-id
        required: false
        schema:
          type: string
      - description: "__Conditional__. The IP address of the PSU. \n\nSee [PSU identifiers](/open-banking-flow/user-authorisation/psu-identifiers) to see if this header is required."
        in: header
        name: psu-ip-address
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/SubAppHeader'
      responses:
        '201':
          content:
            application/json;charset=UTF-8:
              examples:
                OBIE Example Response:
                  $ref: '#/components/examples/obie-example-acc-auth-response-patch'
              schema:
                $ref: '#/components/schemas/ApiResponseOfAccountAuthorisationResponse'
          description: Created
        default:
          content:
            application/json;charset=UTF-8:
              examples:
                Error Response:
                  $ref: '#/components/examples/error-response-code-401'
              schema:
                $ref: '#/components/schemas/ApiResponseError'
          description: Error Response
      summary: Re-authorise Account Consent
      tags:
      - Authorisations
    post:
      description: 'Used to initiate the authorisation process and direct users to the login screen of their financial institution in order to give consent to access account data.


        Feature: `INITIATE_ACCOUNT_REQUEST`'
      operationId: initiateAccountRequest
      x-mint:
        content: '<Info>Learn more: [Single Redirect Flow](/open-banking-flow/user-authorisation/single-redirect)</Info>'
      parameters:
      - description: "__Conditional__. Represents the user's login ID for the `Institution` to a personal account. \n\nSee [PSU identifiers](/open-banking-flow/user-authorisation/psu-identifiers) to see if this header is required."
        in: header
        name: psu-id
        required: false
        schema:
          type: string
      - description: "__Conditional__. Represents the user's login ID for the `Institution` to a business account. \n\nSee [PSU identifiers](/open-banking-flow/user-authorisation/psu-identifiers) to see if this header is required."
        in: header
        name: psu-corporate-id
        required: false
        schema:
          type: string
      - description: "__Conditional__. The IP address of the PSU. \n\nSee [PSU identifiers](/open-banking-flow/user-authorisation/psu-identifiers) to see if this header is required."
        in: header
        name: psu-ip-address
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/SubAppHeader'
      requestBody:
        content:
          application/json;charset=UTF-8:
            examples:
              OBIE Example Request:
                $ref: '#/components/examples/obie-example-acc-auth-request'
            schema:
              $ref: '#/components/schemas/AccountAuthorisationRequest'
        required: true
      responses:
        '201':
          content:
            application/json;charset=UTF-8:
              examples:
                OBIE Example Response:
                  $ref: '#/components/examples/obie-example-acc-auth-response-post'
              schema:
                $ref: '#/components/schemas/ApiResponseOfAccountAuthorisationResponse'
          description: Created
        default:
          content:
            application/json;charset=UTF-8:
              examples:
                Error Response:
                  $ref: '#/components/examples/error-response-code-401'
              schema:
                $ref: '#/components/schemas/ApiResponseError'
          description: Error Response
      summary: Create Account Authorisation
      tags:
      - Authorisations
    put:
      description: 'Used to continue the authorisation process and for any `Institution` that contains the `INITIATE_PRE_AUTHORISATION` feature and direct user to the login screen of their financial institution in order to give consent to access account data.


        Features:


        - `INITIATE_ACCOUNT_REQUEST`

        - `INITIATE_PRE_AUTHORISATION`'
      operationId: updatePreAuthoriseAccountConsent
      x-mint:
        content: '<Info>Learn more: [Pre-Authorisation Flow](/open-banking-flow/user-authorisation/pre-authorisation)</Info>'
      parameters:
      - description: __Mandatory__. The `consent-token` containing the user's authorisation to make the request.
        example: '{consentToken}'
        in: header
        name: consent
        required: true
        schema:
          type: string
      - description: "__Conditional__. Represents the user's login ID for the `Institution` to a personal account. \n\nSee [PSU identifiers](/open-banking-flow/user-authorisation/psu-identifiers) to see if this header is required."
        in: header
        name: psu-id
        required: false
        schema:
          type: string
      - description: "__Conditional__. Represents the user's login ID for the `Institution` to a business account. \n\nSee [PSU identifiers](/open-banking-flow/user-authorisation/psu-identifiers) to see if this header is required."
        in: header
        name: psu-corporate-id
        required: false
        schema:
          type: string
      - description: "__Conditional__. The IP address of the PSU. \n\nSee [PSU identifiers](/open-banking-flow/user-authorisation/psu-identifiers) to see if this header is required."
        in: header
        name: psu-ip-address
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/SubAppHeader'
      requestBody:
        content:
          application/json;charset=UTF-8:
            examples:
              Berlin Group Example Request:
                $ref: '#/components/examples/berlin-group-example-acc-auth-request'
            schema:
              $ref: '#/components/schemas/AccountAuthorisationRequest'
        required: true
      responses:
        '200':
          content:
            application/json;charset=UTF-8:
              examples:
                OBIE Example Response:
                  $ref: '#/components/examples/obie-example-acc-auth-response-put'
              schema:
                $ref: '#/components/schemas/ApiResponseOfAccountAuthorisationResponse'
          description: Ok
        default:
          content:
            application/json;charset=UTF-8:
              examples:
                Error Response:
                  $ref: '#/components/examples/error-response-code-401'
              schema:
                $ref: '#/components/schemas/ApiResponseError'
          description: Error Response
      summary: Update Account Pre-authorisation
      tags:
      - Authorisations
  /bulk-payment-auth-requests:
    post:
      description: 'Used to initiate the authorisation process and direct users to the login screen of their financial Institution in order to give their consent for a bulk payment.


        Feature: `INITIATE_BULK_PAYMENT`'
      operationId: createBulkPaymentAuthorisation
      x-mint:
        content: '<Info>Learn more: [Bulk Payments](/payments/bulk-payments/overview)</Info>'
      parameters:
      - description: "__Conditional__. Represents the user's login ID for the `Institution` to a personal account. \n\nSee [PSU identifiers](/open-banking-flow/user-authorisation/psu-identifiers) to see if this header is required."
        in: header
        name: psu-id
        required: false
        schema:
          type: string
      - description: "__Conditional__. Represents the user's login ID for the `Institution` to a business account. \n\nSee [PSU identifiers](/open-banking-flow/user-authorisation/psu-identifiers) to see if this header is required."
        in: header
        name: psu-corporate-id
        required: false
        schema:
          type: string
      - description: "__Conditional__. The IP address of the PSU. \n\nSee [PSU identifiers](/open-banking-flow/user-authorisation/psu-identifiers) to see if this header is required."
        in: header
        name: psu-ip-address
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json;charset=UTF-8:
            examples:
              UK Bulk Payment Example Request:
                $ref: '#/components/examples/uk-bulk-payment-auth-example-request'
            schema:
              $ref: '#/components/schemas/BulkPaymentAuthorisationRequest'
        required: true
      responses:
        '201':
          content:
            application/json;charset=UTF-8:
              examples:
                UK Bulk Payment Example Response:
                  $ref: '#/components/examples/uk-bulk-payment-auth-example-response'
              schema:
                $ref: '#/components/schemas/ApiResponseOfPaymentAuthorisationRequestResponse'
          description: Created
        default:
          content:
            application/json;charset=UTF-8:
              examples:
                Error Response:
                  $ref: '#/components/examples/error-response-code-401'
              schema:
                $ref: '#/components/schemas/ApiResponseError'
          description: Error Response
      summary: Create Bulk Payment Authorisation
      tags:
      - Authorisations
  /embedded-account-auth-requests:
    post:
      description: 'Used to initiate the embedded authorisation process for an `Institution` that contains the `INITIATE_EMBEDDED_ACCOUNT_REQUEST` feature in order to obtain the the user''s authorisation to access their account information.


        Feature: `INITIATE_EMBEDDED_ACCOUNT_REQUEST`'
      operationId: initiateEmbeddedAccountRequest
      x-mint:
        content: '<Info>Learn more: [Embedded Account Flow](/open-banking-flow/user-authorisation/embedded)</Info>'
      parameters:
      - description: "__Conditional__. Represents the user's login ID for the `Institution` to a personal account. \n\nSee [PSU identifiers](/open-banking-flow/user-authorisation/psu-identifiers) to see if this header is required."
        in: header
        name: psu-id
        required: false
        schema:
          type: string
      - description: "__Conditional__. Represents the user's login ID for the `Institution` to a business account. \n\nSee [PSU identifiers](/open-banking-flow/user-authorisation/psu-identifiers) to see if this header is required."
        in: header
        name: psu-corporate-id
        required: false
        schema:
          type: string
      - description: "__Conditional__. The IP address of the PSU. \n\nSee [PSU identifiers](/open-banking-flow/user-authorisation/psu-identifiers) to see if this header is required."
        in: header
        name: psu-ip-address
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/SubAppHeader'
      requestBody:
        content:
          application/json;charset=UTF-8:
            examples:
              Berlin Group Example Request:
                $ref: '#/components/examples/berlin-group-example-embedded-acc-auth-request'
            schema:
              $ref: '#/components/schemas/EmbeddedAccountAuthorisationRequest'
        required: true
      responses:
        '201':
          content:
            application/json;charset=UTF-8:
              examples:
                Berlin Group (Multiple SCA Methods) Example Response:
                  $ref: '#/components/examples/berlin-group-multiple-sca-methods-example-response'
                Berlin Group (Single SCA Method) Example Response:
                  $ref: '#/components/examples/berlin-group-single-sca-method-example-response'
              schema:
                $ref: '#/components/schemas/ApiResponseOfEmbeddedAccountAuthorisationResponse'
          description: Created
        default:
          content:
            application/json;charset=UTF-8:
              examples:
                Error Response:
                  $ref: '#/components/examples/error-response-code-401'
              schema:
                $ref: '#/components/schemas/ApiResponseError'
          description: Error Response
      summary: Create Embedded Account Authorisation
      tags:
      - Authorisations
  /embedded-account-auth-requests/{consentId}:
    put:
      description: 'Used to pass the SCA Code received from the `Institution` (and the SCA method selected by the user where multiple SCA methods are supported by the `Institution`) in order to complete the embedded authorisation to access the user''s financial data.


        Feature: `INITIATE_EMBEDDED_ACCOUNT_REQUEST`'
      operationId: updateEmbeddedAccountRequest
      x-mint:
        content: '<Info>Learn more: [Embedded Account Flow](/open-banking-flow/user-authorisation/embedded)</Info>'
      parameters:
      - description: __Mandatory__. The consent Id of the `Consent` to update.
        in: path
        name: consentId
        required: true
        schema:
          type: string
      - description: "__Conditional__. Represents the user's login ID for the `Institution` to a personal account. \n\nSee [PSU identifiers](/open-banking-flow/user-authorisation/psu-identifiers) to see if this header is required."
        in: header
        name: psu-id
        required: false
        schema:
          type: string
      - description: "__Conditional__. Represents the user's login ID for the `Institution` to a business account. \n\nSee [PSU identifiers](/open-banking-flow/user-authorisation/psu-identifiers) to see if this header is required."
        in: header
        name: psu-corporate-id
        required: false
        schema:
          type: string
      - description: "__Conditional__. The IP address of the PSU. \n\nSee [PSU identifiers](/open-banking-flow/user-authorisation/psu-identifiers) to see if this header is required."
        in: header
        name: psu-ip-address
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/SubAppHeader'
      requestBody:
        content:
          application/json;charset=UTF-8:
            examples:
              Berlin Group (SCA Code) Example Request:
                $ref: '#/components/examples/berlin-group-sca-code-example-request'
              Berlin Group (Selected SCA Method) Example Request:
                $ref: '#/components/examples/berlin-group-selected-sca-method-example-request'
            schema:
              $ref: '#/components/schemas/EmbeddedAccountAuthorisationRequest'
        required: true
      responses:
        '201':
          content:
            application/json;charset=UTF-8:
              examples:
                Berlin Group (SCA Code) Example Response:
                  $ref: '#/components/examples/berlin-group-sca-code-example-response'
                Berlin Group (Selected SCA Method) Example Response:
                  $ref: '#/components/examples/berlin-group-selected-sca-method-example-response'
              schema:
                $ref: '#/components/schemas/ApiResponseOfEmbeddedAccountAuthorisationResponse'
          description: Created
        default:
          content:
            application/json;charset=UTF-8:
              examples:
                Error Response:
                  $ref: '#/components/examples/error-response-code-401'
              schema:
                $ref: '#/components/schemas/ApiResponseError'
          description: Error Response
      summary: Update Embedded Account Authorisation
      tags:
      - Authorisations
  /embedded-bulk-payment-auth-requests:
    post:
      description: 'Used to initiate the embedded authorisation process for an `Institution` that contains the `INITIATE_EMBEDDED_BULK_PAYMENT` feature in order to obtain the the user''s authorisation for a bulk payment. See [Bulk Payments](/payments/bulk-payments/additional-information) for more information. Feature: `INITIATE_EMBEDDED_BULK_PAYMENT`'
      operationId: createEmbeddedBulkPaymentAuthorisation
      parameters:
      - description: "__Conditional__. Represents the user's login ID for the `Institution` to a personal account. \n\nSee [PSU identifiers](/open-banking-flow/user-authorisation/psu-identifiers) to see if this header is required."
        in: header
        name: psu-id
        required: false
        schema:
          type: string
      - description: "__Conditional__. Represents the user's login ID for the `Institution` to a business account. \n\nSee [PSU identifiers](/open-banking-flow/user-authorisation/psu-identifiers) to see if this header is required."
        in: header
        name: psu-corporate-id
        required: false
        schema:
          type: string
      - description: "__Conditional__. The IP address of the PSU. \n\nSee [PSU identifiers](/open-banking-flow/user-authorisation/psu-identifiers) to see if this header is required."
        in: header
        name: psu-ip-address
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json;charset=UTF-8:
            examples:
              Berlin Group EUR Embedded Bulk Payment Example Request:
                $ref: '#/components/examples/berlin-group-eur-embedded-bulk-payment-example-request'
            schema:
              $ref: '#/components/schemas/BulkPaymentEmbeddedAuthorisationRequest'
        required: true
      responses:
        '201':
          content:
            application/json;charset=UTF-8:
              examples:
                Berlin Group EUR Embedded Bulk Payment Example Response:
                  $ref: '#/components/examples/berlin-group-eur-embedded-bulk-payment-example-response'
              schema:
                $ref: '#/components/schemas/ApiResponseOfPaymentEmbeddedAuthorisationRequestResponse'
          description: Created
        default:
          content:
            application/json;charset=UTF-8:
              examples:
                Error Response:
                  $ref: '#/components/examples/error-response-code-401'
              schema:
                $ref: '#/components/schemas/ApiResponseError'
          description: Error Response
      summary: Create Embedded Bulk Payment Authorisation
      tags:
      - Authorisations
      x-mint:
        content: '<Info>Learn more: [Embedded Payment Flows](/open-banking-flow/user-authorisation/embedded)</Info>'
  /embedded-bulk-payment-auth-requests/{consentId}:
    put:
      description: 'Used to pass the SCA Code received from the `Institution` (and the SCA method selected by the user where multiple SCA methods are supported by the `Institution`) in order to complete the embedded authorisation to initiate a bulk payment. See [Bulk Payments](/payments/bulk-payments/additional-information) for more information. Feature: `INITIATE_EMBEDDED_BULK_PAYMENT`'
      operationId: updateEmbeddedBulkPaymentAuthorisation
      parameters:
      - description: __Mandatory__. The consent Id of the `Consent` to update.
        in: path
        name: consentId
        required: true
        schema:
          type: string
      - description: "__Conditional__. Represents the user's login ID for the `Institution` to a personal account. \n\nSee [PSU identifiers](/open-banking-flow/user-authorisation/psu-identifiers) to see if this header is required."
        in: header
        name: psu-id
        required: false
        schema:
          type: string
      - description: "__Conditional__. Represents the user's login ID for the `Institution` to a business account. \n\nSee [PSU identifiers](/open-banking-flow/user-authorisation/psu-identifiers) to see if this header is required."
        in: header
        name: psu-corporate-id
        required: false
        schema:
          type: string
      - description: "__Conditional__. The IP address of the PSU. \n\nSee [PSU identifiers](/open-banking-flow/user-authorisation/psu-identifiers) to see if this header is required."
        in: header
        name: psu-ip-address
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json;charset=UTF-8:
            examples:
              Berlin Group EUR Embedded Bulk Payment (SCA Code) Example Request:
                $ref: '#/components/examples/berlin-group-eur-embedded-bulk-payment-sca-code-example-request'
            schema:
              $ref: '#/components/schemas/BulkPaymentEmbeddedAuthorisationRequest'
        required: true
      responses:
        '200':
          content:
            application/json;charset=UTF-8:
              examples:
                Berlin Group EUR Embedded Bulk Payment (SCA Code) Example Response:
                  $ref: '#/components/examples/berlin-group-eur-embedded-bulk-payment-sca-code-example-response'
              schema:
                $ref: '#/components/schemas/ApiResponseOfPaymentEmbeddedAuthorisationRequestResponse'
          description: Ok
        default:
          content:
            application/json;charset=UTF-8:
              examples:
                Error Response:
                  $ref: '#/components/examples/error-response-code-401'
              schema:
                $ref: '#/components/schemas/ApiResponseError'
          description: Error Response
      summary: Update Embedded Bulk Payment Authorisation
      tags:
      - Authorisations
      x-mint:
        content: '<Info>Learn more: [Embedded Payment Flows](/open-banking-flow/user-authorisation/embedded)</Info>'
  /embedded-payment-auth-requests:
    post:
      description: 'Used to initiate the embedded authorisation process for an `Institution` that contains the `INITIATE_EMBEDDED_DOMESTIC_SINGLE_PAYMENT` feature in order to obtain the the user''s authorisation for a payment. Feature: `INITIATE_EMBEDDED_DOMESTIC_SINGLE_PAYMENT`'
      operationId: createEmbeddedPaymentAuthorisation
      parameters:
      - description: "__Conditional__. Represents the user's login ID for the `Institution` to a personal account. \n\nSee [PSU identifiers](/open-banking-flow/user-authorisation/psu-identifiers) to see if this header is required."
        in: header
        name: psu-id
        required: false
        schema:
          type: string
      - description: "__Conditional__. Represents the user's login ID for the `Institution` to a business account. \n\nSee [PSU identifiers](/open-banking-flow/user-authorisation/psu-identifiers) to see if this header is required."
        in: header
        name: psu-corporate-id
        required: false
        schema:
          type: string
      - description: "__Conditional__. The IP address of the PSU. \n\nSee [PSU identifiers](/open-banking-flow/user-authorisation/psu-identifiers) to see if this header is required."
        in: header
        name: psu-ip-address
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/SubAppHeader'
      requestBody:
        content:
          application/json;charset=UTF-8:
            examples:
              Berlin Group EUR Single Domestic Payment Example Request:
                $ref: '#/components/examples/berlin-group-eur-single-domestic-embedded-payment-example-request'
            schema:
              $ref: '#/components/schemas/PaymentEmbeddedAuthorisationRequest'
        required: true
      responses:
        '201':
          content:
            application/json;charset=UTF-8:
              examples:
                Berlin Group EUR Single Domestic Payment Example Response:
                  $ref: '#/components/examples/berlin-group-eur-single-domestic-embedded-payment-example-response'
              schema:
                $ref: '#/components/schemas/ApiResponseOfPaymentEmbeddedAuthorisationRequestResponse'
          description: Created
        default:
          content:
            application/json;charset=UTF-8:
              examples:
                Error Response:
                  $ref: '#/components/examples/error-response-code-401'
              schema:
                $ref: '#/components/schemas/ApiResponseError'
          description: Error Response
      summary: Create Embedded Payment Authorisation
      tags:
      - Authorisations
      x-mint:
        content: '<Info>Learn more: [Embedded Payment Flows](/open-banking-flow/user-authorisation/embedded)</Info>'
  /embedded-payment-auth-requests/{consentId}:
    put:
      description: 'Used to pass the SCA Code received from the `Institution` (and the SCA method selected by the user where multiple SCA methods are supported by the `Institution`) in order to complete the embedded authorisation to initiate a payment. Feature: `INITIATE_EMBEDDED_DOMESTIC_SINGLE_PAYMENT`'
      operationId: updateEmbeddedPaymentAuthorisation
      parameters:
      - description: __Mandatory__. The consent Id of the `Consent` to update.
        in: path
        name: consentId
        required: true
        schema:
          type: string
      - description: "__Conditional__. Represents the user's login ID for the `Institution` to a personal account. \n\nSee [PSU identifiers](/open-banking-flow/user-authorisation/psu-identifiers) to see if this header is required."
        in: header
        name: psu-id
        required: false
        schema:
          type: string
      - description: "__Conditional__. Represents the user's login ID for the `Institution` to a business account. \n\nSee [PSU identifiers](/open-banking-flow/user-authorisation/psu-identifiers) to see if this header is required."
        in: header
        name: psu-corporate-id
        required: false
        schema:
          type: string
      - description: "__Conditional__. The IP address of the PSU. \n\nSee [PSU identifiers](/open-banking-flow/user-authorisation/psu-identifiers) to see if this header is required."
        in: header
        name: psu-ip-address
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/SubAppHeader'
      requestBody:
        content:
          application/json;charset=UTF-8:
            examples:
              Berlin Group EUR Single Domestic Payment (SCA Code) Example Request:
                $ref: '#/components/examples/berlin-group-eur-single-domestic-payment-sca-code-example-request'
              Berlin Group EUR Single Domestic Payment (Selected SCA Method) Example Request:
                $ref: '#/components/examples/berlin-group-eur-single-domestic-payment-selected-sca-method-example-request'
            schema:
              $ref: '#/components/schemas/PaymentEmbeddedAuthorisationRequest'
        required: true
      responses:
        '200':
          content:
            application/json;charset=UTF-8:
              examples:
                Berlin Group EUR Single Domestic Payment (SCA Code) Example Response:
                  $ref: '#/components/examples/berlin-group-eur-single-domestic-payment-sca-code-example-response'
                Berlin Group EUR Single Domestic Payment (Selected SCA Method) Example Response:
                  $ref: '#/components/examples/berlin-group-eur-single-domestic-payment-selected-sca-method-example-response'
              schema:
                $ref: '#/components/schemas/ApiResponseOfPaymentEmbeddedAuthorisationRequestResponse'
          description: Ok
        default:
          content:
            application/json;charset=UTF-8:
              examples:
                Error Response:
                  $ref: '#/components/examples/error-response-code-401'
              schema:
                $ref: '#/components/schemas/ApiResponseError'
          description: Error Response
      summary: Update Embedded Payment Authorisation
      tags:
      - Authorisations
      x-mint:
        content: '<Info>Learn more: [Embedded Payment Flows](/open-banking-flow/user-authorisation/embedded)</Info>'
  /payment-auth-requests:
    post:
      description: 'Used to initiate the authorisation process and direct users to the login screen of their financial Institution in order to give their consent for a payment. This endpoint is used to initiate all the different payment listed below. Based on the type of payment you wish to make, you may be required to provide specific properties in [PaymentRequest](/api-reference/createPaymentAuthorisation). First make sure that the payment feature you wish to execute is supported by the bank by checking the features array in [GET Institution](/api-reference/getInstitution).


        Features:


        - `INITIATE_DOMESTIC_PERIODIC_PAYMENT`

        - `INITIATE_DOMESTIC_SCHEDULED_PAYMENT`

        - `INITIATE_DOMESTIC_SINGLE_INSTANT_PAYMENT`

        - `INITIATE_DOMESTIC_SINGLE_PAYMENT`

        - `INITIATE_INTERNATIONAL_PERIODIC_PAYMENT`

        - `INITIATE_INTERNATIONAL_SCHEDULED_PAYMENT`

        - `INITIATE_INTERNATIONAL_SINGLE_PAYMENT`'
      operationId: createPaymentAuthorisation
      x-mint:
        content: '<Info>Learn more: [Single Redirect Flow](/open-banking-flow/user-authorisation/single-redirect)</Info>'
      parameters:
      - description: "__Conditional__. Represents the user's login ID for the `Institution` to a personal account. \n\nSee [PSU identifiers](/open-banking-flow/user-authorisation/psu-identifiers) to see if this header is required."
        in: header
        name: psu-id
        required: false
        schema:
          title: User Id
          type: string
      - description: "__Conditional__. Represents the user's login ID for the `Institution` to a business account. \n\nSee [PSU identifiers](/open-banking-flow/user-authorisation/psu-identifiers) to see if this header is required."
        in: header
        name: psu-corporate-id
        required: false
        schema:
          title: Corporate User Id
          type: string
      - description: "__Conditional__. The IP address of the PSU. \n\nSee [PSU identifiers](/open-banking-flow/user-authorisation/psu-identifiers) to see if this header is required."
        in: header
        name: psu-ip-address
        required: false
        schema:
          title: User IP Address
          type: string
      - $ref: '#/components/parameters/SubAppHeader'
      requestBody:
        content:
          application/json;charset=UTF-8:
            examples:
              EUR Single Domestic Example Request:
                $ref: '#/components/examples/eur-single-domestic-payment-auth-example-request'
              GBP Single Domestic Example Request:
                $ref: '#/components/examples/gbp-single-domestic-payment-auth-example-request'
            schema:
              $ref: '#/components/schemas/PaymentAuthorisationRequest'
        required: true
      responses:
        '201':
          content:
            application/json;charset=UTF-8:
              examples:
                EUR Single Domestic Example Response:
                  $ref: '#/components/examples/eur-single-domestic-payment-auth-example-response'
                GBP Single Domestic Example Response:
                  $ref: '#/components/examples/gbp-single-domestic-payment-auth-example-response'
              schema:
                $ref: '#/components/schemas/ApiResponseOfPaymentAuthorisationRequestResponse'
          description: Created
        default:
          content:
            application/json;charset=UTF-8:
              examples:
                Error Response:
                  $ref: '#/components/examples/error-response-code-401'
              schema:
                $ref: '#/components/schemas/ApiResponseError'
          description: Error Response
      summary: Create Payment Authorisation
      tags:
      - Authorisations
    put:
      description: 'Used to continue the authorisation process and for any `Institution` that contains the `INITIATE_PRE_AUTHORISATION` feature and direct user to the login screen of their financial institution in order to give consent to initiate a payment. Feature: `INITIATE_PRE_AUTHORISATION`'
      operationId: updatePaymentAuthorisation
      parameters:
      - description: "__Conditional__. Represents the user's login ID for the `Institution` to a personal account. \n\nSee [PSU identifiers](/open-banking-flow/user-authorisation/psu-identifiers) to see if this header is required."
        in: header
        name: psu-id
        required: false
        schema:
          title: User Id
          type: string
      - description: "__Conditional__. Represents the user's login ID for the `Institution` to a business account. \n\nSee [PSU identifiers](/open-banking-flow/user-authorisation/psu-identifiers) to see if this header is required."
        in: header
        name: psu-corporate-id
        required: false
        schema:
          title: Corporate User Id
          type: string
      - description: "__Conditional__. The IP address of the PSU. \n\nSee [PSU identifiers](/open-banking-flow/user-authorisation/psu-identifiers) to see if this header is required."
        in: header
        name: psu-ip-address
        required: false
        schema:
          title: User IP Address
          type: string
      - description: __Mandatory__. The `consent-token` containing the user's authorisation to make the request.
        example: '{consentToken}'
        in: header
        name: consent
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json;charset=UTF-8:
            examples:
              Berlin Group EUR Single Domestic Payment Example Request:
                $ref: '#/components/examples/berlin-group-eur-single-domestic-payment-example-request'
            schema:
              $ref: '#/components/schemas/PaymentAuthorisationRequest'
        required: true
      responses:
        '200':
          content:
            application/json;charset=UTF-8:
              examples:
                Berlin Group EUR Single Domestic Payment Example Response:
                  $ref: '#/components/examples/berlin-group-eur-single-domestic-payment-example-response'
              schema:
                $ref: '#/components/schemas/ApiResponseOfPaymentAuthorisationRequestResponse'
          description: Ok
        default:
          content:
            application/json;charset=UTF-8:
              examples:
                Error Response:
                  $ref: '#/components/examples/error-response-code-401'
              schema:
                $ref: '#/components/schemas/ApiResponseError'
          description: Error Response
      summary: Update Payment Pre-authorisation
      tags:
      - Authorisations
      x-mint:
        content: '<Info>Learn more: [Payment Pre-authorisation](/open-banking-flow/user-authorisation/pre-authorisation)</Info>'
  /pre-auth-requests:
    post:
      description: "Used to initiate the pre-authorisation process for any `Institution` that contains the `INITIATE_PRE_AUTHORISATION` feature to authenticate the user. \n\nFeature: `INITIATE_PRE_AUTHORISATION`"
      operationId: createPreAuthorisationRequest
      x-mint:
        content: '<Info>Learn more: [Pre-Authorisation Flow](/open-banking-flow/user-authorisation/pre-authorisation)</Info>'
      parameters:
      - description: __Optional__. Used to obtain the raw request and response to and from the `Institution`.
        in: query
        name: raw
        required: false
        schema:
          type: boolean
      - description: "__Conditional__. Represents the user's login ID for the `Institution` to a personal account. \n\nSee [PSU identifiers](/open-banking-flow/user-authorisation/psu-identifiers) to see if this header is required."
        in: header
        name: psu-id
        required: false
        schema:
          type: string
      - description: "__Conditional__. Represents the user's login ID for the `Institution` to a business account. \n\nSee [PSU identifiers](/open-banking-flow/user-authorisation/psu-identifiers) to see if this header is required."
        in: header
        name: psu-corporate-id
        required: false
        schema:
          type: string
      - description: "__Conditional__. The IP address of the PSU. \n\nSee [PSU identifiers](/open-banking-flow/user-authorisation/psu-identifiers) to see if this header is required."
        in: header
        name: psu-ip-address
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/SubAppHeader'
      requestBody:
        content:
          application/json;charset=UTF-8:
            examples:
              Berlin Group (AIS) Example Request:
                $ref: '#/components/examples/berlin-group-ais-pre-auth-example-request'
              Berlin Group (PIS) Example Request:
                $ref: '#/components/examples/berlin-group-pis-pre-auth-example-request'
            schema:
              $ref: '#/components/schemas/PreAuthorisationRequest'
        required: true
      responses:
        '201':
          content:
            application/json;charset=UTF-8:
              examples:
                Berlin Group Example (AIS) Response:
                  $ref: '#/components/examples/berlin-group-example-ais-pre-auth-response'
                Berlin Group Example (PIS) Response:
                  $ref: '#/components/examples/berlin-group-pis-pre-auth-example-response'
              schema:
                $ref: '#/components/schemas/ApiResponseOfPreAuthorisationResponse'
          description: Created
        default:
          content:
            application/json;charset=UTF-8:
              examples:
                Error Response:
                  $ref: '#/components/examples/error-response-code-401'
              schema:
                $ref: '#/components/schemas/ApiResponseError'
          description: Error Response
      summary: Create Pre-authorisation
      tags:
      - Authorisations
  /payment-pre-auth-requests:
    post:
      description: "Used to initiate the pre-authorisation process for payments for CBI Globe institutions that contain the `INITIATE_ONETIME_PRE_AUTHORISATION_PAYMENTS` feature to authenticate the user. \n\nFeature: `INITIATE_ONETIME_PRE_AUTHORISATION_PAYMENTS`"
      operationId: createPaymentPreAuthorisationRequest
      parameters:
      - description: __Optional__. Used to obtain the raw request and response to and from the `Institution`.
        in: query
        name: raw
        required: false
        schema:
          type: boolean
      - description: "__Conditional__. The IP address of the PSU. \n\nSee [PSU identifiers](/open-banking-flow/user-authorisation/psu-identifiers) to see if this header is required."
        in: header
        name: psu-ip-address
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/SubAppHeader'
      requestBody:
        content:
          application/json;charset=UTF-8:
            examples:
              CBI Globe (PIS) example request:
                $ref: '#/components/examples/cbi-globe-pis-pre-auth-example-request'
            schema:
              $ref: '#/components/schemas/PaymentPreAuthorisationRequest'
        required: true
      responses:
        '201':
          content:
            application/json;charset=UTF-8:
              examples:
                Berlin Group Example (PIS) Response:
                  $ref: '#/components/examples/berlin-group-pis-pre-auth-example-response'
              schema:
                $ref: '#/components/schemas/ApiResponseOfPreAuthorisationResponse'
          description: Created
        default:
          content:
            application/json;charset=UTF-8:
              examples:
                Error Response:
                  $ref: '#/components/examples/error-response-code-401'
              schema:
                $ref: '#/components/schemas/ApiResponseError'
          description: Error Response
      summary: Create Payment Pre-authorisation
      tags:
      - Authorisations
      x-mint:
        content: '<Info>Learn more: [Payment Pre-Authorisation](/open-banking-flow/user-authorisation/pre-authorisation)</Info>'
components:
  schemas:
    PriorityCodeEnum:
      type: string
      enum:
      - NORMAL
      - URGENT
    AccountRequest:
      type: object
      properties:
        transactionFrom:
          type: string
          description: "__Optional__. Specifies the earliest date of the transaction records to be returned.\n\n You must supply this field to retrieve transactions older than 90 days for banks accessed via the the [CBI Globe Gateway](/data/financial-data-resources/data-restrictions#cbi-globe-gateway)."
          format: date-time
          example: '2020-01-01T00:00:00Z'
        transactionTo:
          type: string
          description: __Optional__. Specifies the latest date of the transaction records to be returned.
          format: date-time
          example: '2021-01-01T00:00:00Z'
        expiresAt:
          type: string
          description: '__Optional__. Used to set a hard date for when the user''s associated `Consent` will expire.


            **Note**: If this supported by the bank, specifying this is property is opting out of having a long-lived consent that can be perpetually re-authorised by the user. This will add an `expiresAt` field on the `Consent` object which will render it unusable after this date.


            **Note**: This is not supported by every `Institution`. In such case, the request will not fail but the property will be ignored and the created `Consent` will not have an expiry date.'
          format: date-time
          example: '2025-01-01T00:00:00Z'
        accountIdentifiers:
          $ref: '#/components/schemas/AccountInfo'
        accountIdentifiersForTransaction:
          type: array
          description: "__Conditional__. Used to create a request for the transactions of the account specified. Once the user authorises the request, only the transactions can be obtained by executing [GET Account Transactions](./#get-account-transactions). \n\nThis can be specified in conjunction with `accountIdentifiersForBalance` to generate a `Consent` that can both access the accounts balance and transactions."
          items:
            $ref: '#/components/schemas/AccountInfo'
        accountIdentifiersForBalance:
          type: array
          description: "__Conditional__. Used to create a request for the balance of the account specified. Once the user authorises the request, only the balance can be obtained by executing [GET Account Balances](./#get-account-balances).\n\n This can be specified in conjunction with `accountIdentifiersForTransaction` to generate a `Consent` that can both access the accounts balance and transactions."
          items:
            $ref: '#/components/schemas/AccountInfo'
        featureScope:
          uniqueItems: true
          type: array
          description: '__Optional__. Used to granularly specify the set of features that the user will give their consent for when requesting access to their account information. Depending on the `Institution`, this may also populate a consent screen which list these scopes before the user authorises.


            This endpoint accepts allow all [Financial Data Features](/guides/financial-data/features/#feature-list) that the `Institution` supports.To find out which scopes an `Institution` supports, check [GET Institution](./#get-institution).'
          items:
            $ref: '#/components/schemas/FeatureEnum'
      description: "__Conditional__. Used to further specify details of the `Consent` to request \n\nConditions:\n\n1. Mandatory to specify the individual scopes to request from the user at the `Institution` for an account authorisation\n2. Mandatory to specify an expiry time on the created `Consent` at which time will render it unusable\n3. Mandatory to specify the date range that the created `Consent` will be able to access transactions for (given the range is support for the `Institution`)"
    EmbeddedAccountAuthorisationRequest:
      required:
      - institutionId
      type: object
      properties:
        userUuid:
          type: string
          description: '`User` for which the authorisation request was created.'
          format: uuid
        applicationUserId:
          type: string
          description: __Conditional__. The user-friendly reference to the `User` that will authorise the authorisation request. If a `User` with the specified `applicationUserId` exists, it will be used otherwise, a new `User` with the specified `applicationUserId` will be created and used. Either the `userUuid` or `applicationUserId` must be provided.
          example: user-234562290
        forwardParameters:
          type: array
          description: Extra parameters the TPP may want to get forwarded in the callback request after the PSU redirect.
          items:
            type: string
        institutionId:
          type: string
          description: __Mandatory__. The reference to the `Institution` which identifies which institution the authorisation request is sent to.
          example: yapily-mock
        callback:
          type: string
          description: "__Optional__. The server to redirect the user to after the user complete the authorisation at the `Institution`. \n\nSee [Using a callback (Optional)](/introduction) for more information."
          example: https://display-parameters.com
        redirect:
          $ref: '#/components/schemas/RedirectRequest'
        oneTimeToken:
          type: boolean
          description: "__Conditional__. Used to receive a `oneTimeToken` rather than a `consentToken` at the `callback` for additional security. This can only be used when the `callback` is set. \n\nSee [Using a callback with an OTT (Optional)](/open-banking-flow/handling-redirects/callback-url) for more information."
          example: false
        userCredentials:
          $ref: '#/components/schemas/UserCredentials'
        selectedScaMethod:
          $ref: '#/components/schemas/ScaMethod'
        scaCode:
          type: string
          description: '__Conditional__. Used to update the authorisation with the sca code received by the user from the `Institution` using the embedded account authorisation flow.


            This is the penultimate step required in the embedded account authorisation flow to authorise the `Consent`. After sending the sca code, to obtain an authorised consent, the last step is to poll [Get Consent](/api-reference/getConsentById) until the `Institution` authorises the request and the `Consent` `status` transitions to `AUTHORIZED`.'
          example: '325614'
        accountRequest:
          $ref: '#/components/schemas/AccountRequest'
    ResponseMeta:
      type: object
      properties:
        tracingId:
          type: string
    PayerDetails:
      required:
      - accountIdentifications
      type: object
      properties:
        accountIdentifications:
          uniqueItems: true
          type: array
          description: __Mandatory__. The account identifications that identify the `Payer` bank account.
          items:
            $ref: '#/components/schemas/AccountIdentification'
      description: __Conditional__. Details of the benefactor [person or business].
    ApiError:
      type: object
      description: Provides details of the error that has occurred.
      properties:
        code:
          type: integer
          description: __Mandatory__. Numeric `HTTP` status code associated with the error.
          format: int32
        institutionError:
          $ref: '#/components/schemas/InstitutionError'
        message:
          type: string
          description: __Mandatory__. Description of the exact error that has been experienced.
        source:
          type: string
        status:
          type: string
          description: __Mandatory__. Textual description of the `HTTP` error status type.
        tracingId:
          type: string
          description: __Optional__.  A unique identifier assigned by Yapily for the request that can be used for support purposes.
    ApiResponseOfPaymentAuthorisationRequestResponse:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/ResponseMeta'
        data:
          $ref: '#/components/schemas/PaymentAuthorisationRequestResponse'
        links:
          type: object
          additionalProperties:
            type: string
        forwardedData:
          type: array
          items:
            $ref: '#/components/schemas/ResponseForwardedData'
        raw:
          deprecated: true
          type: array
          items:
            $ref: '#/components/schemas/RawResponse'
        tracingId:
          type: string
          writeOnly: true
    RawResponse:
      deprecated: true
      type: object
      description: '[DEPRECATED] Interaction (raw request and response) that occurred with the `Institution` in order to fulfil a request.'
      properties:
        request:
          $ref: '#/components/schemas/RawRequest'
        duration:
          type: string
          format: iso8601
        headers:
          type: object
          additionalProperties:
            type: string
        resultCode:
          type: integer
          format: int32
        result:
          type: object
    PaymentRequest:
      required:
      - amount
      - payee
      - paymentIdempotencyId
      - type
      type: object
      properties:
        paymentIdempotencyId:
          title: Idempotency Id
          type: string
          description: __Mandatory__. A unique identifier that you must provide to identify the payment. This can be any alpha-numeric string but is limited to a maximum of 35 characters.
          example: 04ab4536gaerfc0e1f93c4f4
        payer:
          $ref: '#/components/schemas/Payer'
        reference:
          title: Payment Reference
          type: string
          description: __Optional__. The payment reference or description. Limited to a maximum of 18 characters long.
          example: Bill payment
        contextType:
          $ref: '#/components/schemas/PaymentContextType'
        purposeCode:
          $ref: '#/components/schemas/PaymentPurposeCode'
        type:
          $ref: '#/components/schemas/PaymentType'
        payee:
          $ref: '#/components/schemas/Payee'
        periodicPayment:
          $ref: '#/components/schemas/PeriodicPaymentRequest'
        internationalPayment:
          $ref: '#/components/schemas/InternationalPaymentRequest'
        amount:
          $ref: '#/components/schemas/Amount'
        paymentDateTime:
          title: Payment Date
          type: string
          description: '__Conditional__. Used to specify the date of the payment when the payment type is one of the following:


            - `DOMESTIC_SCHEDULED_PAYMENT`

            - `DOMESTIC_PERIODIC_PAYMENT`

            - `INTERNATIONAL_SCHEDULED_PAYMENT`

            - `INTERNATIONAL_PERIODIC_PAYMENT`'
          format: date-time
          example: '2021-07-21T17:32:28Z'
        readRefundAccount:
          title: Read Refund Account
          type: boolean
          description: '__Optional__. Used to request the payer details in the payment response when the `Institution` provides the feature `READ_DOMESTIC_SINGLE_REFUND`.


            See [Reverse Payments](/payments/payment-resources/reverse-payments) for more information.'
          example: false
      description: __Mandatory__. The payment request object defining the details of the payment.
    PreAuthorisationResponse:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the pre-authorisation request.
          format: uuid
        userUuid:
          type: string
          description: The `User` that the authorisation request was created for.
          format: uuid
        applicationUserId:
          type: string
          description: The user-friendly reference to the `User` that the authorisation request was created for.
        referenceId:
          type: string
        institutionId:
          type: string
          description: The `Institution` the authorisation request was sent to.
        status:
          $ref: '#/components/schemas/AuthorisationStatus'
        createdAt:
          type: string
          description: Date and time the consent was created.
          format: date-time
        transactionFrom:
          type: string
          description: When performing a transaction query using the consent, this is the earliest date of transaction records that can be retrieved.
          format: date-time
        transactionTo:
          type: string
          description: When performing a transaction query using the consent, this is the latest date of transaction records that can be retrieved.
          format: date-time
        expiresAt:
          type: string
          description: Date and time the authorisation expires. Re-authorisation is needed to retain access.
          format: date-time
        timeToExpireInMillis:
          type: integer
          format: int64
          deprecated: true
        timeToExpire:
          type: string
          format: iso8601
        featureScope:
          uniqueItems: true
          description: The set of features the consent provides access to.
          type: array
          items:
            $ref: '#/components/schemas/FeatureEnum'
        consentToken:
          type: string
          description: Represents the authorisation to gain access to the requested features. Required to access account information or make a payment request.
        state:
          type: string
          description: Correlation ID used with the `Institution` during the authorisation process.
        authorizedAt:
          type: string
          description: Date and time the request was authorised by the `Institution`.
          format: date-time
        institutionConsentId:
          type: string
          description: Unique identifier of the consent assigned by the `Institution`.
        authorisationUrl:
          type: string
        qrCodeUrl:
          type: string
          description: The URL link for the QR code that may be scanned via a mobile device to make a authorisation redirect to the bank (authURL encoded).
    PaymentEmbeddedAuthorisationRequestResponse:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the embedded payment authorisation request.
          format: uuid
        userUuid:
          type: string
          description: The `User` that the authorisation request was created for.
          format: uuid
        applicationUserId:
          type: string
          description: The user-friendly reference to the `User` that the authorisation request was created for.
        referenceId:
          type: string
        institutionId:
          type: string
          description: The  `Institution` the authorisation request was sent to.
        status:
          $ref: '#/components/schemas/AuthorisationStatus'
        createdAt:
          type: string
          description: Date and time the embedded payment authorisation was created.
          format: date-time
        transactionFrom:
          type: string
          description: When performing a transaction query using the consent, this is the earliest date of transaction records that can be retrieved.
          format: date-time
        transactionTo:
          type: string
          description: When performing a transaction query using the consent, this is the latest date of transaction records that can be retrieved.
          format: date-time
        expiresAt:
          type: string
          description: Date and time the authorisation expires. Re-authorisation is needed to retain access.
          format: date-time
        timeToExpireInMillis:
          type: integer
          format: int64
          deprecated: true
        timeToExpire:
          type: string
          format: iso8601
        featureScope:
          uniqueItems: true
          description: The set of features the consent provides access to.
          type: array
          items:
            $ref: '#/components/schemas/FeatureEnum'
        consentToken:
          type: string
          description: Represents the authorisation to gain access to the requested features. Required to make a payment request.
        state:
          type: string
          description: Correlation ID used with the `Institution` during the authorisation process.
        authorizedAt:
          type: string
          description: Date and time the request was authorised by the `Institution`.
          format: date-time
        institutionConsentId:
          type: string
          description: Identification of the consent at the `Institution`.
        charges:
          type: array
          items:
            $ref: '#/components/schemas/PaymentChargeDetails'
        exchangeRateInformation:
          $ref: '#/components/schemas/ExchangeRateInformationResponse'
        authorisationUrl:
          type: string
        qrCodeUrl:
          type: string
          description: The URL link for the QR code that may be scanned via a mobile device to make an authorisation redirect to the bank (authURL encoded).
        explanation:
          type: string
        scaMethods:
          type: array
          items:
            $ref: '#/components/schemas/ScaMethod'
        selectedScaMethod:
          $ref: '#/components/schemas/ScaMethod'
    FrequencyRequest:
      required:
      - type
      type: object
      properties:
        type:
          $ref: '#/components/schemas/FrequencyEnumExtended'
        intervalWeek:
          type: integer
          description: __Conditional__. See [payment frequency](/guides/payments/payment-execution/periodic-payments/#payment-frequency) for more information
          format: int32
          example: 1
        intervalMonth:
          type: integer
          description: __Conditional__. See [payment frequency](/guides/payments/payment-execution/periodic-payments/#payment-frequency) for more information
          format: int32
          example: 1
        executionDay:
          type: integer
          description: __Conditional__. See [payment frequency](/guides/payments/payment-execution/periodic-payments/#payment-frequency) for more information
          format: int32
          example: 1
      description: __Mandatory__. Defines the intervals at which payment should be made.
    PaymentContextType:
      title: Payment Code
      type: string
      default: OTHER
      description: __Optional__. The payment context code. This defaults to `OTHER` if not specified.
      enum:
      - BILL
      - GOODS
      - SERVICES
      - OTHER
      - PERSON_TO_PERSON
      - BILL_IN_ADVANCE
      - BILL_IN_ARREARS
      - ECOMMERCE_MERCHANT
      - FACE_TO_FACE_POS
      - TRANSFER_TO_SELF
      - TRANSFER_TO_THIRD_PARTY
      - PISP_PAYEE
    AccountIdentification:
      title: Account Identifications
      required:
      - type
      - identification
      type: object
      properties:
        type:
          $ref: '#/components/schemas/AccountIdentificationType'
        identification:
          title: Account Identification
          type: string
          description: "__Mandatory__. The value associated with the account identification type.\n\n See [Account Identification Combinations](/payments/payment-resources/intro-to-payment-execution#account-identifications-combinations) for more information on the format of the values."
          example: '401016'
    PaymentAuthorisationRequest:
      required:
      - institutionId
      - paymentRequest
      type: object
      properties:
        userUuid:
          type: string
          format: uuid
        applicationUserId:
          type: string
          description: __Conditional__. The user-friendly reference to the `User` that will authorise the authorisation request. If a `User` with the specified `applicationUserId` exists, it will be used otherwise, a new `User` with the specified `applicationUserId` will be created and used. Either the `userUuid` or `applicationUserId` must be provided.
          example: user-234562290
        forwardParameters:
          type: array
          description: Extra parameters the TPP may want to get forwarded in the callback request after the PSU redirect.
          items:
            type: string
        institutionId:
          type: string
          description: __Mandatory__. The reference to the `Institution` which identifies which institution the authorisation request is sent to.
          example: yapily-mock
        callback:
          type: string
          description: __Optional__. The URL to redirect the user to after the user complete the authorisation at the `Institution`.
          example: https://display-parameters.com
        redirect:
          $ref: '#/components/schemas/RedirectRequest'
        oneTimeToken:
          type: boolean
          description: "__Conditional__. Used to receive a `oneTimeToken` rather than a `consentToken` at the `callback` for additional security. This can only be used when the `callback` is set. \n\nSee [Using a callback with an OTT (Optional)](/open-banking-flow/handling-redirects/callback-url) for more information."
          example: false
        paymentRequest:
          $ref: '#/components/schemas/PaymentRequest'
      description: The request body containing an `PaymentAuthorisationRequest` json payload
    PayeeAccountType:
      title: Payee Account Type
      type: string
      description: "__Optional__. The payee account type. \n\nAllowed values: BUSINESS, BUSINESS_SAVING, CHARITY, COLLECTION, CORPORATE, E_WALLET, GOVERNMENT, INVESTMENT, INVESTMENT_ISA, JOINT_PERSONAL, PENSION, PERSONAL, PERSONAL_SAVING, PREMIER, WEALTH ."
    PaymentChargeDetails:
      type: object
      description: Details the charges that will apply to the payment.
      properties:
        chargeAmount:
          $ref: '#/components/schemas/Amount'
        chargeType:
          description: __Mandatory__. Specifies the nature of the transaction charge e.g. (Bank transfer fees).
          type: string
        chargeTo:
          description: __Mandatory__. States which party of the payment bears the charges.
          type: string
    AccountAuthorisationRequest:
      required:
      - institutionId
      type: object
      properties:
        userUuid:
          type: string
          description: '`User` for which the authorisation request was created.'
          format: uuid
        applicationUserId:
          type: string
          description: __Conditional__. User-friendly identifier of the `User` that provides authorisation. If a `User` with the specified `applicationUserId` exists, it will be used otherwise, a new `User` with the specified `applicationUserId` will be created and used. Either the `userUuid` or `applicationUserId` must be provided.
          example: user-234562290
        forwardParameters:
          description: Extra parameters the TPP may want to get forwarded in the callback request after the PSU redirect.
          type: array
          items:
            type: string
        institutionId:
          type: string
          description: __Mandatory__. The reference to the `Institution` which identifies which institution the authorisation request is sent to.
          example: yapily-mock
        callback:
          type: string
          description: "__Optional__. The server to redirect the user to after the user completes the authorisation at the `Institution`. \n\nSee [Using a callback (Optional)](/open-banking-flow/handling-redirects/callback-url) for more information."
          example: https://display-parameters.com
        redirect:
          $ref: '#/components/schemas/RedirectRequest'
        oneTimeToken:
          type: boolean
          description: "__Conditional__. Used to receive a `oneTimeToken` rather than a `consentToken` at the `callback` for additional security. This can only be used when the `callback` is set. \n\nSee [Using a callback with an OTT (Optional)](/open-banking-flow/handling-redirects/callback-url) for more information."
          example: false
        accountRequest:
          $ref: '#/components/schemas/AccountRequest'
    AccountAuthorisationResponse:
      type: object
      properties:
        id:
          type: string
          description: 'Unique identifier for the account authorisation request.


            The `consentID` used to [retrieve a consent](/api/reference/#operation/getConsentById).'
          format: uuid
        userUuid:
          type: string
          description: The `User` that the authorisation request was created for.
          format: uuid
        applicationUserId:
          type: string
          description: The user-friendly reference to the `User` that the authorisation request was created for.
        referenceId:
          type: string
        institutionId:
          type: string
          description: The `Institution` the authorisation request was sent to.
        status:
          $ref: '#/components/schemas/AuthorisationStatus'
        createdAt:
          type: string
          description: Date and time the consent was created.
          format: date-time
        transactionFrom:
          type: string
          description: When performing a transaction query using the consent, this is the earliest date of transaction records that can be retrieved.
          format: date-time
        transactionTo:
          type: string
          description: When performing a transaction query using the consent, this is the latest date of transaction records that can be retrieved.
          format: date-time
        expiresAt:
          type: string
          description: Date and time the authorisation expires. Re-authorisation is needed to retain access.
          format: date-time
        timeToExpireInMillis:
          type: integer
          format: int64
          deprecated: true
        timeToExpire:
          type: string
          format: iso8601
        featureScope:
          uniqueItems: true
          description: The set of features the consent provides access to.
          type: array
          items:
            $ref: '#/components/schemas/FeatureEnum'
        consentToken:
          type: string
          description: Represents the authorisation to gain access to the requested features. Required to access account information.
        state:
          type: string
          description: Correlation ID used with the `Institution` during the authorisation process.
        authorizedAt:
          type: string
          description: Date and time the request was authorised by the `Institution`.
          format: date-time
        lastConfirmedAt:
          type: string
          description: The time the PSU last confirmed access to their account information, either through full authentication with the institution, or through reconfirmation with the TPP.
          format: date-time
        reconfirmBy:
          type: string
          description: The date and time the consent must be reconfirmed by to ensure continued access to the account information.
          format: date-time
        institutionConsentId:
          type: string
          description: Unique identifier of the consent assigned by the `Institution`.
        authorisationUrl:
          type: string
        qrCodeUrl:
          type: string
          description: The URL link for the QR code that may be scanned via a mobile device to make an authorisation redirect to the bank (authURL encoded).
    PayeeDetails:
      type: object
      required:
      - accountIdentifications
      - name
      - country
      properties:
        name:
          type: string
          description: __Mandatory__. The account holder name of the beneficiary.
          example: Jane Doe
        accountIdentifications:
          uniqueItems: true
          type: array
          description: __Mandatory__. The account identifications that identify the `Payee` bank account.
          example:
          - identification: IBUK123456789
            type: IBAN
          items:
            $ref: '#/components/schemas/AccountIdentification'
        country:
          type: string
          deprecated: true
          description: "__Deprecated__. Use `address.country` instead. The 2-letter ISO 3166 country code for the address. \n\nAn `Institution` may require you to specify the `country` when used in the context of the `Payee` to be able to make a payment. This field will be removed in a future version - please use the `country` field within the `address` object."
          example: GB
        address:
          $ref: '#/components/schemas/Address'
      description: __Mandatory__. Details of the beneficiary [person or business].
    PaymentAuthorisationRequestResponse:
      type: object
      properties:
        id:
          type: string
          description: "Unique identifier for the payment authorisation request. \n\nThe `consentID` used to [retrieve a consent](/api/reference/#operation/getConsentById)."
          format: uuid
        userUuid:
          type: string
          description: The `User` that the authorisation request was created for.
          format: uuid
        applicationUserId:
          type: string
          description: The user-friendly reference to the `User` that the authorisation request was created for.
        referenceId:
          type: string
        institutionId:
          type: string
          description: The `Institution` the authorisation request was sent to.
        status:
          $ref: '#/components/schemas/AuthorisationStatus'
        createdAt:
          type: string
          description: Date and time the consent was created.
          format: date-time
        transactionFrom:
          type: string
          description: When performing a transaction query using the consent, this is the earliest date of transaction records that can be retrieved.
          format: date-time
        transactionTo:
          type: string
          description: When performing a transaction query using the consent, this is the latest date of transaction records that can be retrieved.
          format: date-time
        expiresAt:
          type: string
          description: Date and time the authorisation expires. Re-authorisation is needed to retain access.
          format: date-time
        timeToExpireInMillis:
          type: integer
          format: int64
          deprecated: true
        timeToExpire:
          type: string
          format: iso8601
        featureScope:
          uniqueItems: true
          description: The set of features the consent provides access to.
          type: array
          items:
            $ref: '#/components/schemas/FeatureEnum'
        consentToken:
          type: string
          description: Represents the authorisation to gain access to the requested features. Required to make a payment request.
        state:
          type: string
          description: Correlation ID used with the `Institution` during the authorisation process.
        authorizedAt:
          type: string
          description: Date and time the request was authorised by the `Institution`.
          format: date-time
        institutionConsentId:
          type: string
          description: Unique identifier of the consent assigned by the `Institution`.
        charges:
          type: array
          items:
            $ref: '#/components/schemas/PaymentChargeDetails'
        exchangeRateInformation:
          $ref: '#/components/schemas/ExchangeRateInformationResponse'
        authorisationUrl:
          type: string
        qrCodeUrl:
          type: string
          description: The URL for a QR code that may be scanned via a mobile device to make a authorisation redirect to the bank (authURL encoded).
        explanation:
          type: string
          description: Message from the `Institution` received by Yapily, detailing the next action the user is required to take. This is used only for Decoupled flows.
    FeatureEnum:
      type: string
      description: "Used to describe what functions are supported by the associated `Institution`.        \n\nFor more information on each feature, see the following links:        \n\n- [Financial Data Features](/data/financial-data-resources/financial-data-features)\n- [Payments Features](/payments/payment-resources/payment-features)"
      enum:
      - INITIATE_PRE_AUTHORISATION
      - INITIATE_PRE_AUTHORISATION_ACCOUNTS
      - INITIATE_PRE_AUTHORISATION_PAYMENTS
      - INITIATE_ACCOUNT_REQUEST
      - INITIATE_EMBEDDED_ACCOUNT_REQUEST
      - ACCOUNT_REQUEST_DETAILS
      - ACCOUNTS
      - ACCOUNT
      - ACCOUNT_TRANSACTIONS
      - ACCOUNT_STATEMENTS
      - ACCOUNT_STATEMENT
      - ACCOUNT_STATEMENT_FILE
      - ACCOUNT_SCHEDULED_PAYMENTS
      - ACCOUNT_DIRECT_DEBITS
      - ACCOUNT_PERIODIC_PAYMENTS
      - ACCOUNT_TRANSACTIONS_WITH_MERCHANT
      - IDENTITY
      - ACCOUNTS_WITHOUT_BALANCE
      - ACCOUNT_WITHOUT_BALANCE
      - ACCOUNT_BALANCES
      - INITIATE_SINGLE_PAYMENT_SORTCODE
      - EXISTING_PAYMENT_INITIATION_DETAILS
      - CREATE_SINGLE_PAYMENT_SORTCODE
      - EXISTING_PAYMENTS_DETAILS
      - INITIATE_DOMESTIC_SINGLE_PAYMENT
      - INITIATE_EMBEDDED_DOMESTIC_SINGLE_PAYMENT
      - CREATE_DOMESTIC_SINGLE_PAYMENT
      - INITIATE_EMBEDDED_BULK_PAYMENT
      - INITIATE_DOMESTIC_SINGLE_INSTANT_PAYMENT
      - CREATE_DOMESTIC_SINGLE_INSTANT_PAYMENT
      - INITIATE_DOMESTIC_VARIABLE_RECURRING_PAYMENT
      - CREATE_DOMESTIC_VARIABLE_RECURRING_PAYMENT
      - INITIATE_DOMESTIC_VARIABLE_RECURRING_PAYMENT_SWEEPING
      - CREATE_DOMESTIC_VARIABLE_RECURRING_PAYMENT_SWEEPING
      - INITIATE_DOMESTIC_VARIABLE_RECURRING_PAYMENT_COMMERCIAL
      - CREATE_DOMESTIC_VARIABLE_RECURRING_PAYMENT_COMMERCIAL
      - INITIATE_DOMESTIC_SCHEDULED_PAYMENT
      - CREATE_DOMESTIC_SCHEDULED_PAYMENT
      - INITIATE_DOMESTIC_PERIODIC_PAYMENT
      - CREATE_DOMESTIC_PERIODIC_PAYMENT
      - PERIODIC_PAYMENT_FREQUENCY_EXTENDED
      - INITIATE_INTERNATIONAL_SCHEDULED_PAYMENT
      - CREATE_INTERNATIONAL_SCHEDULED_PAYMENT
      - INITIATE_INTERNATIONAL_PERIODIC_PAYMENT
      - CREATE_INTERNATIONAL_PERIODIC_PAYMENT
      - INITIATE_INTERNATIONAL_SINGLE_PAYMENT
      - CREATE_INTERNATIONAL_SINGLE_PAYMENT
      - INITIATE_BULK_PAYMENT
      - CREATE_BULK_PAYMENT
      - EXISTING_BULK_PAYMENT_DETAILS
      - TRANSFER
      - OPEN_DATA_PERSONAL_CURRENT_ACCOUNTS
      - OPEN_DATA_ATMS
      - READ_DOMESTIC_SINGLE_REFUND
      - READ_DOMESTIC_SCHEDULED_REFUND
      - READ_DOMESTIC_PERIODIC_PAYMENT_REFUND
      - READ_INTERNATIONAL_SINGLE_REFUND
      - READ_INTERNATIONAL_SCHEDULED_REFUND
      - ACCOUNT_BENEFICIARIES
      - INITIATE_ONETIME_PRE_AUTHORISATION_PAYMENTS
      - INITIATE_ONETIME_PRE_AUTHORISATION_ACCOUNTS
      - INITIATE_ONETIME_PRE_AUTHORISATION
      - VARIABLE_RECURRING_PAYMENT_FUNDS_CONFIRMATION
    BulkPaymentEmbeddedAuthorisationRequest:
      required:
      - institutionId
      type: object
      properties:
        userUuid:
          type: string
          format: uuid
          description: __Conditional__. The reference to the `User` that will authorise the authorisation request using the Yapily generated UUID. Either the `userUuid` or `applicationUserId` must be provided.
          example: e006a012-c306-4355-a6a1-99bf69ae5171
        applicationUserId:
          type: string
          description: __Conditional__. The user-friendly reference to the `User` that will authorise the authorisation request. If a `User` with the specified `applicationUserId` exists, it will be used otherwise, a new `User` with the specified `applicationUserId` will be created and used. Either the `userUuid` or `applicationUserId` must be provided.
          example: user-234562290
        institutionId:
          type: string
          description: __Mandatory__. The reference to the `Institution` which identifies which institution the authorisation request is sent to.
          example: yapily-mock
        callback:
          type: string
          description: "__Optional__. The server to redirect the user to after the user complete the authorisation at the `Institution`. \n\nSee [Using a callback (Optional)](/open-banking-flow/handling-redirects/callback-url) for more information."
          example: https://display-parameters.com
        redirect:
          $ref: '#/components/schemas/RedirectRequest'
        oneTimeToken:
          type: boolean
          description: "__Conditional__. Used to receive a `oneTimeToken` rather than a `consentToken` at the `callback` for additional security. This can only be used when the `callback` is set. \n\nSee [Using a callback with an OTT (Optional)](/open-banking-flow/handling-redirects/callback-url) for more information."
          example: false
        paymentRequest:
          $ref: '#/components/schemas/BulkPaymentRequest'
        userCredentials:
          $ref: '#/components/schemas/UserCredentials'
        selectedScaMethod:
          $ref: '#/components/schemas/ScaMethod'
        scaCode:
          type: string
          description: '__Conditional__. Used to update the authorisation with the sca code received by the user from the `Institution` using the embedded payment authorisation flow.


            This is the penultimate step required in the embedded payment authorisation flow to authorise the `Consent`. After sending the sca code, to obtain an authorised consent, the last step is to poll [Get Consent](/api-reference/getConsentById) until the `Institution` authorises the request and the `Consent` `status` transitions to `AUTHORIZED`.'
          example: '325614'
      description: The request body containing a `BulkPaymentEmbeddedAuthorisationRequest` json payload
    InternationalPaymentRequest:
      required:
      - currencyOfTransfer
      type: object
      properties:
        currencyOfTransfer:
          type: string
          description: __Mandatory__. The currency to be transferred to the payee. This may differ from the currency the payment is denoted in and the currency of the payer's account. Specified as a 3-letter code (ISO 4217).
        exchangeRateInformation:
          $ref: '#/components/schemas/ExchangeRateInformation'
        purpose:
          type: string
          description: __Optional__. Used to indicate the external purpose as a [ISO20022 purpose code](https://www.rba.hr/documents/20182/183267/External+purpose+codes+list/8a28f888-1f83-5e29-d6ed-fce05f428689?version=1.1) value.
        priority:
          $ref: '#/components/schemas/PriorityCodeEnum'
        chargeBearer:
          $ref: '#/components/schemas/ChargeBearerType'
      description: "__Conditional__. Used to specify properties to define an international payment. \n\nMust be specified when the payment `type` is one of the following:\n\n- `INTERNATIONAL_SINGLE_PAYMENT`\n- `INTERNATIONAL_SCHEDULED_PAYMENT`\n- `INTERNATIONAL_PERIODIC_PAYMENT`"
    ScaMethod:
      required:
      - id
      type: object
      description: "__Conditional__. Used to update the authorisation with the sca method of the user's choice for the `Institution` that uses the embedded authorisation flow. If the user has multiple sca methods configured, the `Institution` will allow the user to select from each of these options. \n\nWhen the user has multiple sca methods for the `Institution`, this is the second step required in the embedded authorisation flow to authorise the `Consent`."
      example:
        id: '944'
        type: PUSH_OTP
        description: SecureSIGN
      properties:
        id:
          type: string
          description: __Mandatory__. The id of the sca method provided by the `Institution`
          example: 258211#OPTICAL
        type:
          $ref: '#/components/schemas/Type'
        description:
          type: string
          description: __Optional__. A description of the sca method if provided by the `Institution`
          example: Testkarte Hr. Haubach_1, optisch
        information:
          type: string
          description: Additional information from the institution to provide to the PSU to help with the selected SCA method. The language is determined by the institution and may vary.
          example: Bitte bestätigen Sie den Vorgang in Ihrer SecureGo plus App
        data:
          description: Data from the institution to provide to the PSU to complete authorisation. The language is determined by the institution and may vary.
          type: array
          items:
            type: string
          example:
          - 0488701109982928CY439040000100000010000520,00
    InstitutionError:
      type: object
      description: Raw error details provided by the `Institution`, when it was the error source.
      properties:
        errorMessage:
          type: string
          description: Textual description of the `Institution` error.
        httpStatusCode:
          type: integer
          description: Numeric HTTP status code associated with the `Institution` error.
          format: int32
    Payee:
      title: Payee Details
      type: object
      description: __Mandatory__. Details of the beneficiary [person or business].
      required:
      - accountIdentifications
      - name
      properties:
        name:
          title: Payee Name
          type: string
          description: __Mandatory__. The account holder name of the beneficiary.
          example: Jane Doe
        accountIdentifications:
          uniqueItems: true
          type: array
          description: __Mandatory__. The account identifications that identify the `Payee` bank account.
          example:
          - identification: '401016'
            type: SORT_CODE
          - identification: '71518920'
            type: ACCOUNT_NUMBER
          items:
            $ref: '#/components/schemas/AccountIdentification'
        accountType:
          $ref: '#/components/schemas/PayeeAccountType'
        address:
          $ref: '#/components/schemas/Address'
        merchantId:
          title: Merchant Id
          type: string
          description: __Optional__. The merchant ID is a unique code provided by the payment processor to the merchant.
          example: '24589303'
        merchantCategoryCode:
          title: Merchant Category
          type: string
          format: ^\d{4}$
          description: '__Optional__. The category code of the merchant in case the `Payee` is a business. Specified as a 4-letter ISO 18245 code.


            Allowed values:


            - `0742` (Veterinary Services)

            - `0763` (Agricultural Cooperatives)

            - `0780` (Landscaping and Horticultural Services)

            - `1520` (General Contractor/Residential Building)

            - `1711` (Heating, Plumbing, Air Conditioning Contractors)

            - `1731` (Electrical Contractors)

            - `1740` (Masonry, Stonework, Tile Setting, Plastering, Insulation Contractors)

            - `1750` (Carpentry)

            - `1761` (Roof, Siding, and Sheet Metal Work Contractors)

            - `1771` (Contractors, Concrete)

            - `1799` (Special Trade Contractor - Not Elsewhere Classified)

            - `2741` (Miscellaneous Publishing and Printing Services)

            - `2791` (Typesetting, Plate Making and Related Services (Business to Business MCC))

            - `2842` (Specialty Cleaning, Polishing and Sanitation Preparations (Business to Business MCC))

            - `3000` (United Airlines)

            - `3001` (American Airlines)

            - `3002` (Pan American)

            - `3003` (Eurofly Airlines)

            - `3004` (Dragon Airlines)

            - `3005` (British Airways)

            - `3006` (Japan Air Lines)

            - `3007` (Air France)

            - `3008` (Lufthansa)

            - `3009` (Air Canada)

            - `3010` (KLM)

            - `3011` (AeroFlot)

            - `3012` (Qantas)

            - `3013` (Alitalia)

            - `3014` (Saudi Arabian Airlines)

            - `3015` (SWISS)

            - `3016` (SAS)

            - `3017` (South African Airway)

            - `3018` (Varig (Brazil))

            - `3020` (Air India)

            - `3021` (Air Algerie)

            - `3022` (PAL AIR)

            - `3023` (Mexicana)

            - `3024` (Pakistan International)

            - `3025` (Air New Zealand Ltd.)

            - `3026` (Emirates Airlines)

            - `3027` (UTA/InterAir)

            - `3028` (Air Malta)

            - `3029` (SN Brussels Airlines - SN BRUSSELS)

            - `3030` (Aerolineas Argentinas)

            - `3031` (Olympic Airways)

            - `3032` (El Al)

            - `3033` (Ansett Airlines)

            - `3034` (ETIHADAIR)

            - `3035` (TAP (Portugal))

            - `3036` (VASP (Brazil))

            - `3037` (EgyptAir)

            - `3038` (Kuwait Airways)

            - `3039` (Avianca)

            - `3040` (GulfAir (Bahrain))

            - `3041` (Balkan-Bulgarian)

            - `3042` (FinnAir)

            - `3043` (Aer Lingus)

            - `3044` (Air Lanka)

            - `3045` (Nigeria Airways)

            - `3046` (Cruzeiro do Sul (Bra))

            - `3047` (THY (Turkey))

            - `3048` (Royal Air Maroc)

            - `3049` (Tunis Air)

            - `3050` (Icelandair)

            - `3051` (Austrian Airlines)

            - `3052` (LANAIR)

            - `3053` (AVIACO (Spain))

            - `3054` (Ladeco (Chile))

            - `3055` (LAB (Bolivia))

            - `3056` (JetAir)

            - `3057` (Virgin America – VIR AMER)

            - `3058` (Delta)

            - `3059` (DBA Airlines-DBA AIR)

            - `3060` (NWA Air)

            - `3061` (Continental)

            - `3062` (Hapag-Lloyd Express - HLX)

            - `3063` (US Airways)

            - `3064` (Adria Airways)

            - `3065` (Airinter (AirInternational))

            - `3066` (Southwest)

            - `3068` (AIR STANA)

            - `3069` (Sun Country Air)

            - `3070` (Pacific Southwest Airlines (PSA))

            - `3071` (Air British Columbia)

            - `3072` (CEBU PAC)

            - `3073` (Air Cal)

            - `3075` (Singapore Airlines)

            - `3076` (Aeromexico)

            - `3077` (Thai Airways)

            - `3078` (China Airlines)

            - `3079` (Jetstar Airways - Jetstar)

            - `3081` (NordAir)

            - `3082` (Korean Airlines)

            - `3083` (Air Afrique)

            - `3084` (Eva Airlines)

            - `3085` (Midwest Express Airlines, Inc)

            - `3087` (Metro Airlines)

            - `3088` (Croatia Airlines)

            - `3089` (Tans Saero)

            - `3090` (Uni Airways)

            - `3094` (Zambia Airways)

            - `3096` (Air Zimbabwe)

            - `3097` (Spanair (abbreviation: SPANAIR))

            - `3098` (Asiana Airlines)

            - `3099` (Cathay Pacific)

            - `3100` (Malaysian Airline Sys)

            - `3102` (Iberia)

            - `3103` (Garuda (Indonesia))

            - `3105` (Piedmont)

            - `3106` (Braathens S.A.F.E. (Norway))

            - `3110` (Wings Airways)

            - `3111` (British Midland)

            - `3112` (Windward Island)

            - `3117` (Venezolana Int de Aviacion)

            - `3118` (Valley Airlines)

            - `3125` (Tan Airlines)

            - `3126` (Talair PTY Ltd.)

            - `3127` (Taca International)

            - `3129` (Surinam Airways)

            - `3130` (Sunworld International Airways)

            - `3131` (VLM Air)

            - `3132` (Frontier Airlines)

            - `3133` (Sunbelt Airlines)

            - `3135` (Sudan Airlines)

            - `3136` (Qatar Air)

            - `3137` (Singleton)

            - `3138` (Simmons Airlines)

            - `3141` (Seair Alaska)

            - `3143` (Scenic Airlines)

            - `3144` (Virgin Atlantic)

            - `3145` (San Juan)

            - `3146` (Luxair)

            - `3148` (Air Littoral SA)

            - `3151` (Air Laire)

            - `3154` (Princeville)

            - `3156` (Go Fly)

            - `3159` (PBA-Provincetwn-Bstn Air)

            - `3161` (All Nippon Airways)

            - `3164` (Norontair)

            - `3165` (New York Helicopter)

            - `3167` (Aero Continente - AEROCONTINENTE)

            - `3170` (Mount Cook)

            - `3171` (Canadian Airlines)

            - `3172` (Nation Air)

            - `3174` (JetBlue Airways)

            - `3175` (Middle East Air)

            - `3176` (Metroflight Airlines)

            - `3177` (AirTran Airways)

            - `3178` (Mesa Air)

            - `3180` (Westjet Airlines-WESTJET)

            - `3181` (Malev Hungarian Airlines)

            - `3182` (LOT (Poland))

            - `3183` (Oman Aviation - OMAN AIR)

            - `3184` (LIAT)

            - `3185` (LAV (Venezuela))

            - `3186` (LAP (Paraguay))

            - `3187` (LACSA (Costa Rica))

            - `3188` (Virgin Express - VIR EXP)

            - `3190` (Jugoslav Air)

            - `3191` (Island Airlines)

            - `3192` (Iran Air)

            - `3193` (Indian Airlines)

            - `3195` (Holiday Airlines)

            - `3196` (Hawaiian Air)

            - `3197` (Havasu Airlines)

            - `3198` (Harbor Airlines)

            - `3199` (Servicios Aereos Militares)

            - `3200` (Guyana Airways)

            - `3203` (Golden Pacific Air)

            - `3204` (Freedom Airlines)

            - `3206` (China Eastern Airlines (Abbr: China East Air))

            - `3207` (Empresa Ecuatoriana)

            - `3211` (Norwegian Air Shuttle - NORWEGIANAIR)

            - `3212` (Dominicana de Aviacion)

            - `3213` (Malmo Aviation - MALMO AV)

            - `3215` (Dan Air Services)

            - `3216` (Cumberland Airlines)

            - `3217` (CSA-Ceskoslovenske Aeroln)

            - `3218` (Crown Air)

            - `3219` (Copa)

            - `3220` (Compania Faucett)

            - `3221` (Transportes Aeros Mil)

            - `3222` (Command Airways)

            - `3223` (Comair)

            - `3226` (Skyways Air- SKYWAYS)

            - `3228` (Cayman Airways)

            - `3229` (SAETA)

            - `3231` (SAHSA)

            - `3233` (Capitol Air)

            - `3234` (CARIBAIR)

            - `3235` (Brockway Air)

            - `3236` (Air Arabia Airlines - Air Arab)

            - `3238` (Bemidji Aviation)

            - `3239` (Bar Harbor Airlines)

            - `3240` (Bahamasair)

            - `3241` (Aviateca (Guatemala))

            - `3242` (Avensa)

            - `3243` (Austrian Air Service)

            - `3245` (Easy Jet - EASYJET)

            - `3246` (Ryan Air - RYANAIR)

            - `3247` (Gol Airlines - GOL)

            - `3248` (Tam Airlines - TAM)

            - `3251` (Aloha Airlines)

            - `3252` (ALM-Antilean Airlines)

            - `3253` (America West)

            - `3254` (U.S. Air Shuttle)

            - `3256` (Alaska Airlines Inc.)

            - `3259` (American Trans Air)

            - `3260` (Spirit Airlines - SPIRIT)

            - `3261` (Air China)

            - `3262` (Reno Air)

            - `3263` (Aero Servicio Carabobo)

            - `3266` (Air Seychelles)

            - `3267` (Air Panama International)

            - `3268` (Air Pacific)

            - `3275` (Air Nevada)

            - `3276` (Air Midwest)

            - `3277` (Air Madagascar)

            - `3279` (Air LA)

            - `3280` (Air Jamaica)

            - `3282` (Air Djibouti)

            - `3284` (Aero Virgin Islands)

            - `3285` (AeroPeru)

            - `3286` (Aero Nicaraguensis)

            - `3287` (Aero Coach Aviation)

            - `3291` (Ariana Afghan)

            - `3292` (Cyprus Airways)

            - `3293` (Ecuatoriana)

            - `3294` (Ethiopian Airlines)

            - `3295` (Kenya Airways)

            - `3296` (Air Berlin-AIRBERLIN)

            - `3297` (Tarom Romanian Air Transport)

            - `3298` (Air Mauritius)

            - `3299` (Wideroe''s Flyveselskap)

            - `3351` (Affiliated Auto Rental)

            - `3352` (American International)

            - `3353` (Brooks Rent a Car)

            - `3354` (Action Auto Rental)

            - `3355` (SIXT Car Rental)

            - `3357` (Hertz)

            - `3359` (Payless Car Rental)

            - `3360` (Snappy Car Rental)

            - `3361` (Airways Rent a Car)

            - `3362` (Altra Auto Rental)

            - `3364` (Agency Rent a Car)

            - `3366` (Budget Rent a Car)

            - `3368` (Holiday R-A-C)

            - `3370` (Rent-a-Wreck)

            - `3374` (Accent Rent-A-Car)

            - `3376` (Ajax R-A-C)

            - `3380` (Triangle Rent a Car)

            - `3381` (Europ Car)

            - `3385` (Tropical R-A-C)

            - `3386` (Showcase Rental Cars)

            - `3387` (Alamo Rent a Car)

            - `3388` (Merchants Rent-A-Car, Inc)

            - `3389` (Avis R-A-C)

            - `3390` (Dollar R-A-C)

            - `3391` (Europe by Car)

            - `3393` (National Car Rental)

            - `3394` (Kemwell Group R-A-C)

            - `3395` (Thrify Car Rental)

            - `3396` (Tilden R-A-C)

            - `3398` (Econo Car R-A-C)

            - `3400` (Auto Host Car Rentals)

            - `3405` (Enterprise R-A-C)

            - `3409` (General Rent-a-Car)

            - `3412` (A-1 R-A-C)

            - `3414` (Godfrey National)

            - `3420` (ANSA International)

            - `3421` (Allstate Rent-a-Car)

            - `3423` (Avcar Rent-a-Car)

            - `3425` (Automate Rent-a-Car)

            - `3427` (Avon Rent-a-Car)

            - `3428` (Carey Rent-a-Car)

            - `3429` (Insurance Rent-a-Car)

            - `3430` (Major Rent-a-Car)

            - `3431` (Replacement Rent-a-Car)

            - `3432` (Reserve Rent-a-Car)

            - `3433` (Ugly Duckling R-A-C)

            - `3434` (USA Rent-a-Car)

            - `3435` (Value Rent-a-Car)

            - `3436` (Autohansa Rent-a-Car)

            - `3437` (Cite)

            - `3438` (Interenet Rent-a-Car)

            - `3439` (Millville Rent-a-Car)

            - `3441` (Advantage Rent A Car)

            - `3501` (Holiday Inns)

            - `3502` (Best Western Hotels)

            - `3503` (Sheraton)

            - `3504` (Hilton)

            - `3505` (Forte Hotels)

            - `3506` (Golden Tulip Hotels)

            - `3507` (Friendship Inns)

            - `3508` (Quality Inns)

            - `3509` (Marriott)

            - `3510` (Days Inn Colonial Resort)

            - `3511` (Arabella Hotels)

            - `3512` (Intercontinental Hotels)

            - `3513` (Westin)

            - `3514` (Amerisuites)

            - `3515` (Rodeway Inn)

            - `3516` (LaQuinta Motor Inns)

            - `3517` (Americana Hotels)

            - `3518` (Sol Hotels)

            - `3519` (Pullman International Hotels)

            - `3520` (Meridien Hotels)

            - `3521` (Royal Lahaina Resort)

            - `3522` (Tokyo Group)

            - `3523` (Peninsula Hotels)

            - `3524` (WelcomGroup Hotels)

            - `3525` (Dunfey Hotels)

            - `3526` (Prince Hotels)

            - `3527` (Downtowner Passport)

            - `3528` (Red Lion Inns)

            - `3529` (CP (Canadian Pacific))

            - `3530` (Renaissance Hotels)

            - `3531` (Kauai Coconut Beach Resort)

            - `3532` (Royal Kona Resort)

            - `3533` (Hotel Ibis)

            - `3534` (Southern Pacific)

            - `3535` (Hilton International)

            - `3536` (AMFAC Hotels)

            - `3537` (ANA Hotels)

            - `3538` (Concorde Hotels)

            - `3539` (Summerfield Suites Hotel)

            - `3540` (Iberotel Hotels)

            - `3541` (Hotel Okura)

            - `3542` (Royal Hotels)

            - `3543` (Four Seasons)

            - `3544` (Cigna Hotels)

            - `3545` (Shangri-La International)

            - `3546` (Hotel Sierra)

            - `3548` (Hotels Melia)

            - `3549` (Auberge des Governeurs)

            - `3550` (Regal 8 Inns)

            - `3551` (Mirage Hotel and Casino)

            - `3552` (Coast Hotel)

            - `3553` (Park Inn by Radisson)

            - `3554` (Pinehurst Resort)

            - `3555` (Treasure Island Hotel and Casino)

            - `3556` (Barton Creek Resort)

            - `3557` (Manhattan East Suite Hotels)

            - `3558` (Jolly Hotels)

            - `3559` (Candlewood Suites)

            - `3560` (Aladdin Resort and Casino)

            - `3561` (Golden Nugget)

            - `3562` (Comfort Inns)

            - `3563` (Journey''s End Motels)

            - `3564` (Sam''s Town Hotel and Casino)

            - `3565` (Relax Inns)

            - `3566` (Garden Place Hotel)

            - `3567` (Soho Grand Hotel)

            - `3568` (Ladbroke Hotels)

            - `3569` (Tribeca Grand Hotel)

            - `3570` (Forum Hotels)

            - `3571` (Grand Wailea Resort)

            - `3572` (Miyako Hotel)

            - `3573` (Sandman Hotels)

[...]
