openapi: 3.0.1
info:
  title: Yapily Platform API
  description: Manage Applications, Users, Application Management, Constraints, and Webhooks for the Yapily Open Banking platform.
  version: 12.4.0
  contact:
    name: Yapily Support
    url: https://docs.yapily.com/resources/support
    email: support@yapily.com
servers:
- url: https://api.yapily.com
security:
- basicAuth: []
tags:
- description: The `Application` is the base entity that is used to interact with the API and contains a collection of `Institution`
    objects. You can have multiple Applications associated with your account e.g. a production application with live access
    to each `Institution` and a development application with access to sandboxes.
  name: Application
- description: Application Management endpoints help with creating and managing client sub-applications.
  name: Application Management
- description: The Users endpoints are used to manage each user (otherwise known as the PSU) in Yapily. Each user belongs
    to an Application and as a consequence, so do each `Consent` created for a particular `User`.
  name: Users
- description: The constraints endpoints can be used to retrieve institution specific data requirements and rules that will
    apply when performing other operations.
  name: Constraints
- description: Webhook endpoints
  name: Webhooks
- description: "The Notifications endpoints provide an interactive way for user to receive notifications according to different\
    \ event-types. This feature is currently in private beta. Please reach out if you require access. \n\n"
  name: Notifications
paths:
  /users:
    get:
      description: Retrieves all users created in your application for a specified applicationUserId using the filter[applicationUserId]
        query parameter. If filter[applicationUserId] is not provided, the response will include up to 50,000 users.
      operationId: getUsers
      parameters:
      - description: __Optional__. Filter records based on the list of `applicationUserId` users provided.
        in: query
        name: filter[applicationUserId]
        required: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        '200':
          content:
            application/json;charset=UTF-8:
              examples:
                Example Response:
                  $ref: '#/components/examples/users_example-response'
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApplicationUser'
          description: Ok
        default:
          content:
            application/json;charset=UTF-8:
              examples:
                Error Response:
                  $ref: '#/components/examples/error-response-code-401'
              schema:
                $ref: '#/components/schemas/ApiResponseError'
          description: Error Response
      summary: Get Users
      tags:
      - Users
    post:
      description: Create a new user in your application
      operationId: addUser
      requestBody:
        content:
          application/json;charset=UTF-8:
            examples:
              Create User Example Request:
                $ref: '#/components/examples/create-user-example-request'
            schema:
              $ref: '#/components/schemas/NewApplicationUser'
        required: true
      responses:
        '201':
          content:
            application/json;charset=UTF-8:
              examples:
                Example Response:
                  $ref: '#/components/examples/create-user_example-response'
              schema:
                $ref: '#/components/schemas/ApplicationUser'
          description: Created
        default:
          content:
            application/json;charset=UTF-8:
              examples:
                Error Response:
                  $ref: '#/components/examples/error-response-code-401'
              schema:
                $ref: '#/components/schemas/ApiResponseError'
          description: Error Response
      summary: Create User
      tags:
      - Users
  /users/{userUuid}:
    patch:
      description: Update the users information
      operationId: patchUser
      parameters:
      - description: __Mandatory__. The Yapily generated UUID for the user.
        in: path
        name: userUuid
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ApplicationUserPatchRequest'
      responses:
        '201':
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ApplicationUser'
          description: Created
        default:
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ApiResponseError'
          description: Error Response
      summary: Update User
      tags:
      - Users
    delete:
      description: Delete a user from your application along with any sub-resources (including consent resources on institution
        APIs if they exist)
      operationId: deleteUser
      parameters:
      - description: __Mandatory__. The Yapily generated UUID for the user.
        in: path
        name: userUuid
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          content:
            application/json;charset=UTF-8:
              examples:
                Example Response:
                  $ref: '#/components/examples/delete-user_example-response'
              schema:
                $ref: '#/components/schemas/ApiResponseOfUserDeleteResponse'
          description: Ok
        default:
          content:
            application/json;charset=UTF-8:
              examples:
                Error Response:
                  $ref: '#/components/examples/error-response-code-401'
              schema:
                $ref: '#/components/schemas/ApiResponseError'
          description: Error Response
      summary: Delete User
      tags:
      - Users
    get:
      description: Get a specific user using the user UUID
      operationId: getUser
      parameters:
      - description: __Mandatory__. The Yapily generated UUID for the user.
        in: path
        name: userUuid
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          content:
            application/json;charset=UTF-8:
              examples:
                Example Response:
                  $ref: '#/components/examples/user_example-response'
              schema:
                $ref: '#/components/schemas/ApplicationUser'
          description: Ok
        default:
          content:
            application/json;charset=UTF-8:
              examples:
                Error Response:
                  $ref: '#/components/examples/error-response-code-401'
              schema:
                $ref: '#/components/schemas/ApiResponseError'
          description: Error Response
      summary: Get User
      tags:
      - Users
  /notifications/event-subscriptions:
    post:
      tags:
      - Notifications
      summary: Create Event Subscription
      description: Used to subscribe to notifications relating to a specified event type.
      operationId: createEventSubscription
      x-beta: true
      parameters:
      - $ref: '#/components/parameters/SubAppHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventSubscriptionRequest'
      responses:
        '201':
          description: Event subscription created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOfEventSubscriptionResponse'
        '400':
          description: Bad request for missing required properties
        '401':
          description: Unauthorized
        '409':
          description: Event subscription already exist for the application
      x-mint:
        content: '<Info>Learn more: [Webhooks & Notifications](/tools-and-services/webhooks/introduction)</Info>'
    get:
      tags:
      - Notifications
      summary: Get Event Subscriptions
      description: Get all event subscriptions that your application is subscribed to
      operationId: getEventSubscriptions
      x-beta: true
      parameters:
      - description: The sub-application ID for which all event subscriptions will be returned
        in: header
        name: sub-application
        required: false
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Event subscriptions for the application
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiListResponseOfEventSubscriptionResponse'
        '401':
          description: Unauthorized
  /notifications/event-subscriptions/{eventTypeId}:
    get:
      tags:
      - Notifications
      summary: Get Event Subscription
      description: Used to get details of your subscription to a specified event type.
      operationId: getEventSubscriptionById
      x-beta: true
      parameters:
      - $ref: '#/components/parameters/EventTypeId'
      - $ref: '#/components/parameters/SubAppHeader'
      responses:
        '200':
          description: Event subscription data found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOfEventSubscriptionResponse'
        '401':
          description: Unauthorized
        '404':
          description: Event subscription not found
    delete:
      tags:
      - Notifications
      summary: Delete Event Subscription
      description: Used to unsubscribe to notifications relating to a specified event type.
      operationId: deleteEventSubscriptionById
      x-beta: true
      parameters:
      - $ref: '#/components/parameters/EventTypeId'
      - description: The sub-application ID for which event type will be deleted
        in: header
        name: sub-application
        required: false
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Event subscription deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOfEventSubscriptionDeleteResponse'
        '401':
          description: Unauthorized
        '404':
          description: Event subscription not found
  /institutions/constraints/payments:
    get:
      description: Retrieve institution specific constraints for payment authorisation and submission requests
      operationId: getPaymentConstraintsRulesByInstitution
      x-beta: true
      parameters:
      - description: Unique Id(s) of the `Institution`(s) to retrieve the Payment Constraints for. Multiple institutionIds
          need to be separated by `,`
        name: institutionIds
        required: true
        in: query
        schema:
          type: array
          items:
            type: string
      - description: Country code of the `Institution`(s). Ensure that the country code matches the respective institutionIds;
          any mismatch will result in an HTTP 404 error response.
        in: query
        name: institutionCountryCode
        required: true
        schema:
          type: string
      - description: Type of payment to retrieve payment constraints for
        in: query
        name: paymentType
        required: true
        schema:
          type: string
          enum:
          - DOMESTIC_PAYMENT
          - DOMESTIC_INSTANT_PAYMENT
          - DOMESTIC_VARIABLE_RECURRING_PAYMENT
          - DOMESTIC_SCHEDULED_PAYMENT
          - DOMESTIC_PERIODIC_PAYMENT
          - INTERNATIONAL_PAYMENT
          - INTERNATIONAL_SCHEDULED_PAYMENT
          - INTERNATIONAL_PERIODIC_PAYMENT
      - description: The path on the API that is associated with the operation for which constraints are to be retrieved
        in: query
        name: endpointPath
        required: false
        schema:
          type: string
      - description: The HTTP method that is associated with the operation for which constraints are to be retrieved
        in: query
        name: endpointMethod
        required: false
        schema:
          type: string
          enum:
          - POST
          - PATCH
          - PUT
          - GET
          - DELETE
      responses:
        '200':
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ApiListResponseOfPaymentConstraints'
          description: Ok
        '400':
          content:
            application/json;charset=UTF-8:
              examples:
                500 Error Response:
                  $ref: '#/components/examples/400-error-response'
              schema:
                $ref: '#/components/schemas/ApiResponseError'
          description: Bad Request.
        '401':
          content:
            application/json;charset=UTF-8:
              examples:
                500 Error Response:
                  $ref: '#/components/examples/401-error-response'
              schema:
                $ref: '#/components/schemas/ApiResponseError'
          description: Either authentication credentials were not supplied, or they were invalid.
        '404':
          content:
            application/json;charset=UTF-8:
              examples:
                500 Error Response:
                  $ref: '#/components/examples/404-error-response'
              schema:
                $ref: '#/components/schemas/ApiResponseError'
          description: Not Found.
        '500':
          content:
            application/json;charset=UTF-8:
              examples:
                500 Error Response:
                  $ref: '#/components/examples/500-error-response'
              schema:
                $ref: '#/components/schemas/ApiResponseError'
          description: Unexpected Error
      summary: Get Payment Constraints Rules
      tags:
      - Constraints
      x-mint:
        content: '<Info>Learn more: [Payment Constraints](/payments/payment-resources/payment-constraints) for institution-specific
          requirements</Info>'
  /institutions/constraints/data:
    get:
      description: Get Data Constraints Rules against an Institution for Account Authorisation requests
      operationId: getAccountConstraintsRulesByInstitution
      x-beta: true
      parameters:
      - description: Unique Id(s) of the `Institution`(s) to retrieve the Data Constraints for. Multiple institutionIds need
          to be separated by `,`
        name: institutionIds
        required: true
        in: query
        schema:
          type: array
          items:
            type: string
      - description: Country code of the `Institution`(s). Ensure that the country code matches the respective institutionIds;
          any mismatch will result in an HTTP 404 error response.
        in: query
        name: institutionCountryCode
        required: true
        schema:
          type: string
      - description: The path on the API that is associated with the operation for which constraints are to be retrieved
        in: query
        name: endpointPath
        required: false
        schema:
          type: string
      - description: The HTTP method that is associated with the operation for which constraints are to be retrieved
        in: query
        name: endpointMethod
        required: false
        schema:
          type: string
          enum:
          - POST
          - PATCH
          - PUT
          - GET
          - DELETE
      responses:
        '200':
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ApiListResponseOfDataConstraints'
          description: Ok
        '400':
          content:
            application/json;charset=UTF-8:
              examples:
                500 Error Response:
                  $ref: '#/components/examples/400-error-response'
              schema:
                $ref: '#/components/schemas/ApiResponseError'
          description: Bad Request.
        '401':
          content:
            application/json;charset=UTF-8:
              examples:
                500 Error Response:
                  $ref: '#/components/examples/401-error-response'
              schema:
                $ref: '#/components/schemas/ApiResponseError'
          description: Either authentication credentials were not supplied, or they were invalid.
        '404':
          content:
            application/json;charset=UTF-8:
              examples:
                500 Error Response:
                  $ref: '#/components/examples/404-error-response'
              schema:
                $ref: '#/components/schemas/ApiResponseError'
          description: Not Found.
        '500':
          content:
            application/json;charset=UTF-8:
              examples:
                500 Error Response:
                  $ref: '#/components/examples/500-error-response'
              schema:
                $ref: '#/components/schemas/ApiResponseError'
          description: Unexpected Error
      summary: Get Data Constraints Rules
      tags:
      - Constraints
  /applications:
    post:
      description: Creates a sub-application under the given root application id provided in the authentication token. The
        sub-application can use the root's credentials to call the API
      summary: Creates a Sub-application for the Root Application Id Provided in the Authentication Token
      x-beta: true
      operationId: createSubApplication
      requestBody:
        description: The sub-application to create
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationRequest'
            examples:
              Create Sub-application Request:
                $ref: '#/components/examples/application-request'
      responses:
        '201':
          content:
            application/json;charset=UTF-8:
              examples:
                Create Sub-application Response:
                  $ref: '#/components/examples/application-response'
              schema:
                $ref: '#/components/schemas/ApiResponseOfApplicationResponse'
          description: Sub-application was successfully created
        '400':
          content:
            application/json;charset=UTF-8:
              examples:
                Error Response:
                  $ref: '#/components/examples/application-error-response-code-400'
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: There are validation errors
        '401':
          description: Either authentication credentials were not supplied, or they were invalid.
          content:
            application/json;charset=UTF-8:
              examples:
                Error Response:
                  $ref: '#/components/examples/error-response-code-401'
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: Forbidden from accessing the requested Application.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Application with given root id not found.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: An unexpected error occurred.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      tags:
      - Application Management
      x-mint:
        content: '<Info>Learn more: [Application Management](/getting-started/application-management)</Info>'
    get:
      description: Retrieves sub-applications for the root application provided in the authentication token. If a sub-application
        is provided in the authentication token, it will return an empty list.
      summary: Retrieve Sub-applications for the Root Application Provided in the Authentication Token.
      x-beta: true
      operationId: searchApplications
      parameters:
      - $ref: '#/components/parameters/SearchApplicationsParameters'
      responses:
        '200':
          description: The sub-applications that are returned as part of the search results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiListOfApplicationResponse'
              examples:
                Get Applications Response:
                  $ref: '#/components/examples/application-responses'
        '400':
          description: There are validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Either authentication credentials were not supplied, or they were invalid.
          content:
            application/json;charset=UTF-8:
              examples:
                Error Response:
                  $ref: '#/components/examples/error-response-code-401'
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: Forbidden from accessing the requested Application.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: An unexpected error occurred.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      tags:
      - Application Management
  /applications/{applicationId}:
    get:
      description: Retrieves an application by the id provided in the path
      x-beta: true
      operationId: getApplicationById
      parameters:
      - in: path
        name: applicationId
        required: true
        schema:
          type: string
          format: uuid
        description: The id of the application being fetched
      responses:
        '200':
          content:
            application/json;charset=UTF-8:
              examples:
                Get Application By Id Response:
                  $ref: '#/components/examples/application-response'
              schema:
                $ref: '#/components/schemas/ApiResponseOfApplicationResponse'
          description: Application was successfully fetched
        '401':
          description: Either authentication credentials were not supplied, or they were invalid.
          content:
            application/json;charset=UTF-8:
              examples:
                Error Response:
                  $ref: '#/components/examples/error-response-code-401'
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: Forbidden from accessing the requested Application.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Application with given id not found.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: An unexpected error occurred.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      tags:
      - Application Management
      summary: Get Application Details
    put:
      description: Updates the application properties for the application with the given ID in the path
      x-beta: true
      operationId: updateApplication
      parameters:
      - in: path
        name: applicationId
        required: true
        schema:
          type: string
          format: uuid
        description: The id of the application being updated
      requestBody:
        description: The application to update
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationRequest'
            examples:
              Update Application Request:
                $ref: '#/components/examples/application-request'
      responses:
        '200':
          content:
            application/json;charset=UTF-8:
              examples:
                Update Application Response:
                  $ref: '#/components/examples/application-response'
              schema:
                $ref: '#/components/schemas/ApiResponseOfApplicationResponse'
          description: Application was successfully updated
        '400':
          content:
            application/json;charset=UTF-8:
              examples:
                Error Response:
                  $ref: '#/components/examples/application-error-response-code-400'
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: There are validation errors
        '401':
          description: Either authentication credentials were not supplied, or they were invalid.
          content:
            application/json;charset=UTF-8:
              examples:
                Error Response:
                  $ref: '#/components/examples/error-response-code-401'
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: Forbidden from accessing the requested Application.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: An unexpected error occurred.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      tags:
      - Application Management
      summary: Update an Application
    delete:
      description: Deletes the application with the given ID in the path
      x-beta: true
      operationId: deleteApplication
      parameters:
      - in: path
        name: applicationId
        required: true
        schema:
          type: string
          format: uuid
        description: The id of the application being deleted
      responses:
        '204':
          description: Application was successfully deleted
        '401':
          description: Either authentication credentials were not supplied, or they were invalid.
          content:
            application/json;charset=UTF-8:
              examples:
                Error Response:
                  $ref: '#/components/examples/error-response-code-401'
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: Forbidden from accessing the requested Application.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Application with given id not found.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: An unexpected error occurred.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      tags:
      - Application Management
      summary: Delete an Application
  /applications/{applicationId}/vrp:
    post:
      description: Create application vrp configuration
      summary: Create Application Vrp Configuration by Application Id
      x-beta: true
      operationId: createApplicationVRPConfigurationByApplicationId
      parameters:
      - in: path
        name: applicationId
        required: true
        schema:
          type: string
          format: uuid
        description: The id of the application that vrp configuration being created for
      requestBody:
        description: The vrp configuration to create
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VrpConfiguration'
      responses:
        '201':
          description: Application vrp configuration was successfully created
        '400':
          content:
            application/json;charset=UTF-8:
              examples:
                Error Response:
                  $ref: '#/components/examples/application-error-response-code-400'
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: There are validation errors
        '401':
          description: Either authentication credentials were not supplied, or they were invalid.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              examples:
                401 Error Response:
                  $ref: '#/components/examples/401-error-response'
        '403':
          description: Forbidden from accessing the requested Application.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              examples:
                403 Error Response:
                  $ref: '#/components/examples/403-error-response'
        '404':
          description: VRP Configuration with given application id not found.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              examples:
                404 Error Response:
                  $ref: '#/components/examples/404-error-response'
        '500':
          description: An unexpected error occurred.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              examples:
                500 Error Response:
                  $ref: '#/components/examples/500-error-response'
      tags:
      - Application Management
    put:
      description: Update application vrp configuration
      summary: Update Application Vrp Configuration by Application Id
      x-beta: true
      operationId: updateApplicationVRPConfigurationByApplicationId
      parameters:
      - in: path
        name: applicationId
        required: true
        schema:
          type: string
          format: uuid
        description: The id of the application that vrp configuration being created for
      requestBody:
        description: The vrp configuration to create
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VrpConfiguration'
      responses:
        '201':
          description: Application vrp configuration was successfully updated
        '400':
          content:
            application/json;charset=UTF-8:
              examples:
                Error Response:
                  $ref: '#/components/examples/application-error-response-code-400'
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: There are validation errors
        '401':
          description: Either authentication credentials were not supplied, or they were invalid.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              examples:
                401 Error Response:
                  $ref: '#/components/examples/401-error-response'
        '403':
          description: Forbidden from accessing the requested Application.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              examples:
                403 Error Response:
                  $ref: '#/components/examples/403-error-response'
        '404':
          description: VRP Configuration with given application id not found.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              examples:
                404 Error Response:
                  $ref: '#/components/examples/404-error-response'
        '500':
          description: An unexpected error occurred.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              examples:
                500 Error Response:
                  $ref: '#/components/examples/500-error-response'
      tags:
      - Application Management
    get:
      description: Get application vrp configuration
      summary: Get Application Vrp Configuration by Application Id
      x-beta: true
      operationId: getApplicationVRPConfigurationByApplicationId
      parameters:
      - in: path
        name: applicationId
        required: true
        schema:
          type: string
          format: uuid
        description: The id of the application that vrp configuration being created for
      responses:
        '200':
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/VrpConfiguration'
          description: Application vrp configuration was successfully fetched
        '400':
          content:
            application/json;charset=UTF-8:
              examples:
                Error Response:
                  $ref: '#/components/examples/application-error-response-code-400'
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: There are validation errors
        '401':
          description: Either authentication credentials were not supplied, or they were invalid.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              examples:
                401 Error Response:
                  $ref: '#/components/examples/401-error-response'
        '403':
          description: Forbidden from accessing the requested Application.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              examples:
                403 Error Response:
                  $ref: '#/components/examples/403-error-response'
        '404':
          description: VRP Configuration with given application id not found.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              examples:
                404 Error Response:
                  $ref: '#/components/examples/404-error-response'
        '500':
          description: An unexpected error occurred.
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
              examples:
                500 Error Response:
                  $ref: '#/components/examples/500-error-response'
      tags:
      - Application Management
  /webhook/events/categories:
    get:
      tags:
      - Webhooks
      description: Retrieve a comprehensive list of event categories that can be registered for webhook notifications in your
        application. These event categories can be used to subscribe a webhook to specific events, enabling your application
        to receive real-time notifications when these events occur.
      summary: Get Webhook Categories
      operationId: getWebhookEventsCategories
      responses:
        '200':
          description: Event Categories
          content:
            application/json;charset=UTF-8:
              examples:
                SuccessfulResponse:
                  value:
                    metadata:
                      tracingId: f2425b79-974d-43f8-a5a2-ec771b2d9297
                    data:
                      categories:
                      - name: payment.state.success
                        description: An event sent when payment reaches a terminal successful status
                      - name: payment.state.failed
                        description: An event sent when payment reaches a terminal failed status
              schema:
                type: object
                properties:
                  metadata:
                    $ref: '#/components/schemas/Metadata'
                  data:
                    type: object
                    properties:
                      categories:
                        type: array
                        items:
                          $ref: '#/components/schemas/CategoryStructure'
        '401':
          description: Authentication Error
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponseV2'
              examples:
                Example-1:
                  $ref: '#/components/examples/401-error-response'
        '400':
          description: Validation Error
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponseV2'
              examples:
                Example-1:
                  $ref: '#/components/examples/400-error-response'
        '500':
          description: Unexpected Error
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponseV2'
              examples:
                Example-1:
                  $ref: '#/components/examples/500-error-response'
  /webhook/events:
    post:
      tags:
      - Webhooks
      description: Register a webhook to one or multiple event categories to receive real-time notifications when specific
        events occur in your application.
      summary: Register Webhook Event
      operationId: registerWebhook
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              type: object
              required:
              - applicationId
              - categories
              - callbackUrl
              properties:
                applicationId:
                  type: string
                  format: uuid
                categories:
                  type: array
                  description: One or more event categories for which the webhook will be triggered
                  items:
                    type: string
                callbackUrl:
                  type: object
                  description: Callback URLs where events will be sent. These must not contain any query parameters.
                  required:
                  - main
                  properties:
                    main:
                      type: object
                      description: Primary URL where events will be sent. It must not contain any query parameters.
                      required:
                      - url
                      properties:
                        url:
                          type: string
                          description: A valid URL without query parameters.
                    backup:
                      type: object
                      description: Secondary URL where events will be sent whenever the primary URL is not responding. It
                        must not contain any query parameters.
                      properties:
                        url:
                          type: string
                          description: A valid URL without query parameters.
                metadata:
                  $ref: '#/components/schemas/WebhookMetadata'
      responses:
        '201':
          $ref: '#/components/responses/WebhookDetailsWithSecret'
        '401':
          description: Authentication Error
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponseV2'
              examples:
                Example-1:
                  $ref: '#/components/examples/401-error-response'
        '400':
          description: Validation Error
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponseV2'
              examples:
                Example-1:
                  $ref: '#/components/examples/400-error-response'
        '406':
          description: Maximum number of registered webhooks has been reached
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponseV2'
              examples:
                Example-1:
                  $ref: '#/components/examples/406-error-response'
        '500':
          description: Unexpected Error
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponseV2'
              examples:
                Example-1:
                  $ref: '#/components/examples/500-error-response'
      parameters:
      - $ref: '#/components/parameters/SubAppHeader'
      x-mint:
        content: '<Info>Learn more: [Webhook Setup](/tools-and-services/webhooks/get-started)</Info>'
    get:
      tags:
      - Webhooks
      description: Retrieve the list of registered webhooks for your application
      summary: Retrieve All Webhook Events
      operationId: getRegisteredWebhooks
      responses:
        '200':
          description: Registered Webhooks
          content:
            application/json;charset=UTF-8:
              schema:
                type: object
                properties:
                  metadata:
                    $ref: '#/components/schemas/Metadata'
                  data:
                    type: object
                    properties:
                      active:
                        type: array
                        items:
                          $ref: '#/components/schemas/RegisteredWebhookWithStatus'
        '401':
          description: Authentication Error
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponseV2'
              examples:
                Example-1:
                  $ref: '#/components/examples/401-error-response'
        '400':
          description: Validation Error
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponseV2'
              examples:
                Example-1:
                  $ref: '#/components/examples/400-error-response'
        '500':
          description: Unexpected Error
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponseV2'
              examples:
                Example-1:
                  $ref: '#/components/examples/500-error-response'
      parameters:
      - $ref: '#/components/parameters/SubAppHeader'
  /webhook/events/{webhook_id}:
    delete:
      tags:
      - Webhooks
      description: Delete a webhook event for a specified webhook ID, unregistering it from receiving any further notifications
        for the subscribed event categories in your application.
      summary: Delete Webhook Event
      operationId: deleteWebhook
      parameters:
      - $ref: '#/components/parameters/SubAppHeader'
      - $ref: '#/components/parameters/WebhookIdParameter'
      responses:
        '200':
          description: Deleted
          content:
            application/json;charset=UTF-8:
              schema:
                type: object
                properties:
                  metadata:
                    $ref: '#/components/schemas/Metadata'
                  data:
                    $ref: '#/components/schemas/RegisteredWebhook'
        '401':
          description: Authentication Error
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponseV2'
              examples:
                Example-1:
                  $ref: '#/components/examples/401-error-response'
        '400':
          description: Validation Error
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponseV2'
              examples:
                Example-1:
                  $ref: '#/components/examples/400-error-response'
        '404':
          description: Webhook ID not found
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponseV2'
              examples:
                Example-1:
                  $ref: '#/components/examples/404-error-response'
        '500':
          description: Unexpected Error
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponseV2'
              examples:
                Example-1:
                  $ref: '#/components/examples/500-error-response'
  /webhook/secrets/{webhook_id}:
    post:
      tags:
      - Webhooks
      description: Reset webhook secret for a webhook that is already registered to your application
      summary: Reset Webhook Secret
      operationId: webhookSecretReset
      parameters:
      - $ref: '#/components/parameters/SubAppHeader'
      - $ref: '#/components/parameters/WebhookIdParameter'
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              type: object
              required:
              - delay
              properties:
                delay:
                  type: number
                  description: delay in seconds
                  minimum: 0
                  maximum: 86400
      responses:
        '201':
          $ref: '#/components/responses/WebhookDetailsWithSecret'
        '401':
          description: Authentication Error
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponseV2'
              examples:
                Example-1:
                  $ref: '#/components/examples/401-error-response'
        '400':
          description: Validation Error
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponseV2'
              examples:
                Example-1:
                  $ref: '#/components/examples/400-error-response'
        '404':
          description: Webhook ID not found
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponseV2'
              examples:
                Example-1:
                  $ref: '#/components/examples/404-error-response'
        '500':
          description: Unexpected Error
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ApiErrorResponseV2'
              examples:
                Example-1:
                  $ref: '#/components/examples/500-error-response'
      x-mint:
        content: '<Info>Learn more: [Webhook Setup](/tools-and-services/webhooks/get-started)</Info>'
components:
  schemas:
    AccountBalanceType:
      type: string
      description: Specifies the type of the stated account balance.
      enum:
      - CLOSING_AVAILABLE
      - CLOSING_BOOKED
      - CLOSING_CLEARED
      - EXPECTED
      - FORWARD_AVAILABLE
      - INFORMATION
      - INTERIM_AVAILABLE
      - INTERIM_BOOKED
      - INTERIM_CLEARED
      - OPENING_AVAILABLE
      - OPENING_BOOKED
      - OPENING_CLEARED
      - PREVIOUSLY_CLOSED_BOOKED
      - AUTHORISED
      - OTHER
      - UNKNOWN
    AccountIdentificationType:
      title: Account Identification Type
      type: string
      description: "__Mandatory__. Used to describe the format of the account.\n\n See [Account Identification Combinations](/payments/payment-resources/intro-to-payment-execution#account-identifications-combinations)\
        \ for more information on when to specify each type."
      example: SORT_CODE
      enum:
      - SORT_CODE
      - ACCOUNT_NUMBER
      - IBAN
      - BBAN
      - BIC
      - PAN
      - MASKED_PAN
      - MSISDN
      - BSB
      - NCC
      - ABA
      - ABA_WIRE
      - ABA_ACH
      - EMAIL
      - ROLL_NUMBER
      - BLZ
      - IFS
      - CLABE
      - CTN
      - BRANCH_CODE
      - VIRTUAL_ACCOUNT_ID
    AddressDetails:
      type: object
      properties:
        addressLine:
          type: string
          description: Information, in free format text, that identifies a specific address.
    AlignmentEnum:
      type: string
      description: __Mandatory__. Period alignment for which the payment limits are enforced. Allowed values are [CONSENT,
        CALENDAR]. If CONSENT, then period starts on consent creation date. If CALENDAR, then period lines up with the frequency
        e.g. WEEKLY period will begin at start of the week in question.
      enum:
      - CONSENT
      - CALENDAR
    Amount:
      title: Amount Details
      required:
      - amount
      - currency
      type: object
      properties:
        amount:
          title: Amount
          type: number
          description: __Mandatory__. The monetary value
          example: 10
        currency:
          title: Currency
          type: string
          description: __Mandatory__. The [ISO 4217](https://www.xe.com/iso4217.php) currency code
          example: GBP
      description: __Mandatory__. Monetary Amount.
    ApiCall:
      type: object
    ApiError:
      type: object
      description: Provides details of the error that has occurred.
      properties:
        code:
          type: integer
          description: __Mandatory__. Numeric `HTTP` status code associated with the error.
          format: int32
        institutionError:
          $ref: '#/components/schemas/InstitutionError'
        message:
          type: string
          description: __Mandatory__. Description of the exact error that has been experienced.
        source:
          type: string
        status:
          type: string
          description: __Mandatory__. Textual description of the `HTTP` error status type.
        tracingId:
          type: string
          description: __Optional__.  A unique identifier assigned by Yapily for the request that can be used for support
            purposes.
    ApiErrorResponse:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetails'
      description: 'Used to return errors from the bank from each request


        - `400` - Returned by any `POST` endpoint when the body does not conform to the contract

        - `401` - Returned by any endpoint when an invalid `authToken` is used for authentication

        - `403` - Returned by any [Financial Data](/api-reference/...) and any [Payments](/api-reference/...) endpoint when
        the `Consent` is no longer authorised to access financial data or to make a payment

        - `404` - Returned by any endpoint where there are path parameters and the path parameters supplied are unable to
        find the desired resource

        - `409` - Returned by any `POST` endpoint when creating a resource that conflicts with any other existing resource
        e.g. [Create User](/api-reference/...)

        - `424` - Returned by any [Financial Data](/api-reference/...) and any [Payments](/api-reference/...) endpoint when
        the feature to be accessed is not supported by the `Institution`.

        - `500` - Returned by any endpoint when Yapily is down. If you encounter any false positives, please [notify us](mailto:support@yapily.com)'
      example:
        error:
          tracingId: 0c2d0973bdd24224a65e5d0f7d1b6154
          code: 400
          status: BAD_REQUEST
          supportUrl: https://support.yapily.com/
          source: YAPILY
          issues:
          - type: INVALID_REQUEST
            code: INVALID_PROPERTY_UNEXPECTED_VALUE
            parameter: $.payer.accountidentifications.type
            message: Type Should be one of [PAN, SORT_CODE, ACCOUNT_NUMBER]
            institutionError:
              errorMessage: '{"Code":"400 BadRequest","Id":"3517bfc2-c3ee-4f2f-b4f8-12f62478e0d1","Message":"No Resource found","Errors":[{"ErrorCode":"UK.OBIE.Resource.NotFound","Message":"No
                resource found corresponding to the consent id"}]}'
              httpStatusCode: 400
    ApiErrorResponseV2:
      type: object
      description: API Error Response
      properties:
        error:
          required:
          - tracingId
          - code
          - status
          - issues
          type: object
          properties:
            tracingId:
              type: string
              description: Unique identifier of the request, used by Yapily for support purposes
            code:
              type: integer
              format: int32
              description: Numeric HTTP status code associated with the error
            status:
              type: string
              description: Textual description of the HTTP status
            supportUrl:
              type: string
              description: Link to where further information regarding the error can be found
            source:
              type: string
              description: Source of the error. This may be YAPILY, the INSTITUTION, or the USER
            issues:
              type: array
              description: List of issues relating to the error
              items:
                required:
                - message
                - code
                type: object
                description: Detailed information regarding the issue that was experienced during processing of the request
                properties:
                  type:
                    type: string
                    description: Category of the issue
                  code:
                    type: string
                    description: 5 digit Error Code that uniquely identifies the type of issue, for full list of error codes
                      pelase check our documentation
                  message:
                    type: string
                    description: Human readable description of the issue that was experienced
    ApiListOfApplicationResponse:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/ApplicationResponseListMeta'
        data:
          type: array
          items:
            $ref: '#/components/schemas/ApplicationResponse'
    ApiListResponseOfDataConstraints:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/ResponseMeta'
        data:
          type: array
          items:
            $ref: '#/components/schemas/DataConstraintsResponse'
      example:
        meta:
          tracingId: a43049c1dbc04d6f8c8e2dfdc523217a
        data:
        - institutionId: mock-sandbox
          institutionCountryCode: GB
          endpointPath: /account-auth-requests
          endpointMethod: POST
          request:
            headers:
              title: Header
              type: object
              properties:
                psuID:
                  title: PSU Id
                  type: string
                  description: __Mandatory__. The psu id
            body:
              required:
              - institutionId
              type: object
              properties:
                userUuid:
                  title: User UUID
                  type: string
                  format: uuid
                institutionId:
                  title: Institution Identifier
                  type: string
                  description: __Mandatory__. The reference to the `Institution` which identifies which institution the authorisation
                    request is sent to.
                  example: yapily-mock
                oneTimeToken:
                  title: One Time Token
                  type: boolean
                  description: "__Conditional__. Used to receive a `oneTimeToken` rather than a `consentToken` at the `callback`\
                    \ for additional security. This can only be used when the `callback` is set. \n\nSee [Using a callback\
                    \ with an OTT (Optional)](/open-banking-flow/handling-redirects/callback-url) for more information."
                  example: false
                callback:
                  title: Callback
                  type: string
                  description: "__Optional__. The server to redirect the user to after the user complete the authorisation\
                    \ at the `Institution`. \n\nSee [Using a callback (Optional)](/open-banking-flow/handling-redirects/callback-url)\
                    \ for more information."
                  example: https://display-parameters.com
                accountRequest:
                  title: Account Request
                  type: object
                  properties:
                    transactionFrom:
                      title: Transaction From Date
                      type: string
                      description: __Optional__. Used to specify the lower bound on when to pull transaction. This should
                        be declared when accessing transaction older than 90 days for banks in the [CBI Globe](/data/financial-data-resources/data-restrictions#cbi-globe-gateway).
                      format: date-time
                    transactionTo:
                      title: Transaction To Date
                      type: string
                      description: __Optional__. When performing a request using the consent, this is the latest date of transaction
                        records that can be retrieved.
                      format: date-time
                    expiresAt:
                      title: Expires At
                      type: string
                      description: '__Optional__. Used to set a hard date for when the user''s associated `Consent` will expire.


                        **Note**: If this supported by the bank, specifying this is property is opting out of having a long-lived
                        consent that can be perpetually re-authorised by the user. This will add an `expiresAt` field on the
                        `Consent` object which will render it unusable after this date.


                        **Note**: This is not supported by every `Institution`. In such case, the request will not fail but
                        the property will be ignored and the created `Consent` will not have an expiry date.'
                      format: date-time
                    accountIdentifiers:
                      title: Account Info
                      required:
                      - accountIdentification
                      type: object
                      properties:
                        accountId:
                          type: string
                          description: __Conditional__. Unique identifier of the account.
                          example: '500000000000000000000001'
                        accountIdentification:
                          title: Account Identifications
                          required:
                          - identification
                          - type
                          type: object
                          properties:
                            type:
                              enum:
                              - SORT_CODE
                              - ACCOUNT_NUMBER
                              - IBAN
                              - BBAN
                              - BIC
                              - PAN
                              - MASKED_PAN
                              - MSISDN
                              - BSB
                              - NCC
                              - ABA
                              - ABA_WIRE
                              - ABA_ACH
                              - EMAIL
                              - ROLL_NUMBER
                              - BLZ
                              - IFS
                              - CLABE
                              - CTN
                              - BRANCH_CODE
                              - VIRTUAL_ACCOUNT_ID
                              title: Account Identification Type
                              type: string
                              description: "__Mandatory__. Used to describe the format of the account.\n\n See [Account Identification\
                                \ Combinations](/payments/payment-resources/intro-to-payment-execution#account-identifications-combinations)\
                                \ for more information on when to specify each type."
                              example: SORT_CODE
                            identification:
                              title: Account Identification
                              type: string
                              description: "__Mandatory__. The value associated with the account identification type.\n\n\
                                \ See [Account Identification Combinations](/payments/payment-resources/intro-to-payment-execution#account-identifications-combinations)\
                                \ for more information on the format of the values."
                              example: '401016'
                      description: "__Conditional__. Used to create a request for the balance of the account specified. Once\
                        \ the user authorises the request, only the balance can be obtained by executing [GET Account Balances](./#get-account-balances).\n\
                        \n This can be specified in conjunction with `accountIdentifiersForTransaction` to generate a `Consent`\
                        \ that can both access the accounts balance and transactions."
                    accountIdentifiersForTransaction:
                      type: array
                      items:
                        required:
                        - accountIdentification
                        type: object
                        properties:
                          accountId:
                            type: string
                            description: __Conditional__. Unique identifier of the account.
                            example: '500000000000000000000001'
                          accountIdentification:
                            title: Account Identifications
                            required:
                            - identification
                            - type
                            type: object
                            properties:
                              type:
                                enum:
                                - SORT_CODE
                                - ACCOUNT_NUMBER
                                - IBAN
                                - BBAN
                                - BIC
                                - PAN
                                - MASKED_PAN
                                - MSISDN
                                - BSB
                                - NCC
                                - ABA
                                - ABA_WIRE
                                - ABA_ACH
                                - EMAIL
                                - ROLL_NUMBER
                                - BLZ
                                - IFS
                                - CLABE
                                - CTN
                                - BRANCH_CODE
                                - VIRTUAL_ACCOUNT_ID
                                title: Account Identification Type
                                type: string
                                description: "__Mandatory__. Used to describe the format of the account.\n\n See [Account\
                                  \ Identification Combinations](/payments/payment-resources/intro-to-payment-execution#account-identifications-combinations)\
                                  \ for more information on when to specify each type."
                                example: SORT_CODE
                              identification:
                                title: Account Identification
                                type: string
                                description: "__Mandatory__. The value associated with the account identification type.\n\n\
                                  \ See [Account Identification Combinations](/payments/payment-resources/intro-to-payment-execution#account-identifications-combinations)\
                                  \ for more information on the format of the values."
                                example: '401016'
                      description: "__Conditional__. Used to create a request for the transactions of the account specified.\
                        \ Once the user authorises the request, only the transactions can be obtained by executing [GET Account\
                        \ Transactions](./#get-account-transactions). \n\nThis can be specified in conjunction with `accountIdentifiersForBalance`\
                        \ to generate a `Consent` that can both access the accounts balance and transactions."
                    accountIdentifiersForBalance:
                      type: array
                      items:
                        required:
                        - accountIdentification
                        type: object
                        properties:
                          accountId:
                            type: string
                            description: __Conditional__. Unique identifier of the account.
                            example: '500000000000000000000001'
                          accountIdentification:
                            title: Account Identifications
                            required:
                            - identification
                            - type
                            type: object
                            properties:
                              type:
                                enum:
                                - SORT_CODE
                                - ACCOUNT_NUMBER
                                - IBAN
                                - BBAN
                                - BIC
                                - PAN
                                - MASKED_PAN
                                - MSISDN
                                - BSB
                                - NCC
                                - ABA
                                - ABA_WIRE
                                - ABA_ACH
                                - EMAIL
                                - ROLL_NUMBER
                                - BLZ
                                - IFS
                                - CLABE
                                - CTN
                                - BRANCH_CODE
                                - VIRTUAL_ACCOUNT_ID
                                title: Account Identification Type
                                type: string
                                description: "__Mandatory__. Used to describe the format of the account.\n\n See [Account\
                                  \ Identification Combinations](/payments/payment-resources/intro-to-payment-execution#account-identifications-combinations)\
                                  \ for more information on when to specify each type."
                                example: SORT_CODE
                              identification:
                                title: Account Identification
                                type: string
                                description: "__Mandatory__. The value associated with the account identification type.\n\n\
                                  \ See [Account Identification Combinations](/payments/payment-resources/intro-to-payment-execution#account-identifications-combinations)\
                                  \ for more information on the format of the values."
                                example: '401016'
                      description: "__Conditional__. Used to create a request for the transactions of the account specified.\
                        \ Once the user authorises the request, only the transactions can be obtained by executing [GET Account\
                        \ Transactions](./#get-account-transactions). \n\nThis can be specified in conjunction with `accountIdentifiersForBalance`\
                        \ to generate a `Consent` that can both access the accounts balance and transactions."
                    featureScope:
                      title: Feature Scope
                      type: array
                      items:
                        type: string
                      description: Used to describe what functions are supported by the associated `Institution`
                  description: Account authorisation request schema
              description: The request body containing an `AccountAuthorisationRequest` json payload
    ApiListResponseOfEventSubscriptionResponse:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/ResponseListMeta'
        data:
          type: array
          items:
            $ref: '#/components/schemas/EventSubscriptionResponse'
        links:
          type: object
          additionalProperties:
            type: string
        forwardedData:
          type: array
          items:
            $ref: '#/components/schemas/ResponseForwardedData'
        raw:
          deprecated: true
          type: array
          items:
            $ref: '#/components/schemas/RawResponse'
        paging:
          $ref: '#/components/schemas/FilteredClientPayloadListTransaction'
        tracingId:
          type: string
          writeOnly: true
    ApiListResponseOfPaymentConstraints:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/ResponseListMeta'
        data:
          type: array
          items:
            $ref: '#/components/schemas/PaymentConstraintsResponse'
      example:
        meta:
          tracingId: 661471ddb4344113a2d185b861cb3dcf
        data:
        - institutionId: mock-sandbox
          institutionCountryCode: GB
          endpointPath: /payments
          endpointMethod: POST
          paymentType: DOMESTIC_PAYMENT
          request:
            headers:
              title: Header
              type: object
              properties:
                psuID:
                  title: PSU Id
                  type: string
                  description: ''
            body:
              title: Payment Request
              required:
              - payee
              - amount
              - paymentIdempotencyId
              - type
              type: object
              properties:
                paymentIdempotencyId:
                  title: Payment Idempotency Id
                  pattern: ^.{1,35}$
                  type: string
                  description: Id for the payment
                type:
                  enum:
                  - DOMESTIC_PAYMENT
                  title: Payment Type
                  type: string
                  description: type of the payment
                contextType:
                  default: OTHER
                  enum:
                  - BILL
                  - GOODS
                  - SERVICES
                  - OTHER
                  - PERSON_TO_PERSON
                  title: Context Type
                  type: string
                  description: __Optional__. The payment context code. This defaults to `OTHER` if not specified.
                reference:
                  title: Reference
                  pattern: ^.{1,18}$
                  type: string
                  description: __Mandatory__. The payment reference or description. Limited to a maximum of 18 characters
                    long.
                  example: Bill payment
                payee:
                  title: Payee
                  required:
                  - accountIdentifications
                  - name
                  type: object
                  properties:
                    name:
                      title: Name
                      pattern: ^.{1,18}$
                      type: string
                      description: __Mandatory__. The account holder name of the beneficiary.
                      example: Jane Doe
                    accountIdentifications:
                      title: Account Identifications
                      type: array
                      items:
                        required:
                        - identification
                        - type
                        type: object
                        properties:
                          type:
                            title: Account Identification Type
                            type: string
                            description: "__Mandatory__. Used to describe the format of the account.\n\n See [Account Identification\
                              \ Combinations](/payments/payment-resources/intro-to-payment-execution#account-identifications-combinations)\
                              \ for more information on when to specify each type."
                          identification:
                            title: Account Identification
                            type: string
                            description: "__Mandatory__. The value associated with the account identification type.\n\n See\
                              \ [Account Identification Combinations](/payments/payment-resources/intro-to-payment-execution#account-identifications-combinations)\
                              \ for more information on the format of the values."
                      description: __Mandatory__. The account identifications that identify the `Payee` bank account.
                    address:
                      title: Address
                      type: object
                      properties:
                        addressLines:
                          title: Address Lines
                          type: array
                          items:
                            title: Address Line
                            type: string
                          description: __Optional__. The address line of the address
                        streetName:
                          title: Street Name
                          type: string
                          description: __Optional__. The street name of the address
                        buildingNumber:
                          title: Building Number
                          type: string
                          description: __Optional__. The building number of the address
                        postCode:
                          title: Postcode
                          type: string
                          description: __Optional__. The post code of the address
                        townName:
                          title: Town
                          type: string
                          description: __Optional__. The town name of the address
                        county:
                          title: County
                          type: array
                          items:
                            type: string
                          description: __Optional__. The list of counties for the address
                        country:
                          title: Country
                          type: string
                          description: "__Conditional__. The 2-letter country code for the address. \n\nAn `Institution` may\
                            \ require you to specify the `country` when used in the context of the `Payee` to be able to make\
                            \ a payment"
                        department:
                          title: Department
                          type: string
                          description: __Optional__. The department for the address
                        subDepartment:
                          title: Sub-department
                          type: string
                          description: __Optional__. The sub-department for the address
                        addressType:
                          enum:
                          - BUSINESS
                          - CORRESPONDENCE
                          - DELIVERY_TO
                          - MAIL_TO
                          - PO_BOX
                          - POSTAL
                          - RESIDENTIAL
                          - STATEMENT
                          - UNKNOWN
                          title: Address Type
                          type: string
                          description: __Optional__. The type of address
                      description: __Conditional__. The address of the `Payee` or `Payer`.
                  description: __Mandatory__. Details of the beneficiary [person or business].
                payer:
                  title: Payer
                  required:
                  - accountIdentifications
                  type: object
                  properties:
                    accountIdentifications:
                      title: Account Identifications
                      type: array
                      items:
                        required:
                        - identification
                        - type
                        type: object
                        properties:
                          type:
                            enum:
                            - IBAN
                            title: Account Identification Type
                            type: string
                            description: __Mandatory__. Should be IBAN only.
                          identification:
                            title: Account Identification
                            pattern: DE\d{20}
                            type: string
                            description: __Mandatory__. The IBAN value associated with the account identity
                      description: __Mandatory__. The account identifications that identify the `Payer` bank account.
                    address:
                      title: Address
                      type: object
                      properties:
                        addressLines:
                          title: Address Lines
                          type: array
                          items:
                            title: Address Line
                            type: string
                          description: __Optional__. The address line of the address
                        streetName:
                          title: Street Name
                          type: string
                          description: __Optional__. The street name of the address
                        buildingNumber:
                          title: Building Number
                          type: string
                          description: __Optional__. The building number of the address
                        postCode:
                          title: Postcode
                          type: string
                          description: __Optional__. The post code of the address
                        townName:
                          title: Town
                          type: string
                          description: __Optional__. The town name of the address
                        county:
                          title: County
                          type: array
                          items:
                            type: string
                          description: __Optional__. The list of counties for the address
                        country:
                          title: Country
                          type: string
                          description: "__Conditional__. The 2-letter country code for the address. \n\nAn `Institution` may\
                            \ require you to specify the `country` when used in the context of the `Payee` to be able to make\
                            \ a payment"
                        department:
                          title: Department
                          type: string
                          description: __Optional__. The department for the address
                        subDepartment:
                          title: Sub-department
                          type: string
                          description: __Optional__. The sub-department for the address
                        addressType:
                          enum:
                          - BUSINESS
                          - CORRESPONDENCE
                          - DELIVERY_TO
                          - MAIL_TO
                          - PO_BOX
                          - POSTAL
                          - RESIDENTIAL
                          - STATEMENT
                          - UNKNOWN
                          title: Address Type
                          type: string
                          description: __Optional__. The type of address
                      description: __Conditional__. The address of the `Payee` or `Payer`.
                amount:
                  title: Amount
                  required:
                  - amount
                  - currency
                  type: object
                  properties:
                    amount:
                      title: Amount
                      minimum: 0
                      type: number
                      description: __Mandatory__. The monetary value
                    currency:
                      title: Currency
                      pattern: ^[A-Z]{3,3}$
                      type: string
                      description: __Mandatory__. The [ISO 4217](https://www.xe.com/iso4217.php) currency code
                  description: __Mandatory__. Monetary Amount.
                paymentDateTime:
                  type: string
                  description: __Optional__, If present date should be greater than or equal to current date
                  format: date-time
              description: Domestic payment request schema
    ApiResponseError:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/ApiError'
        raw:
          deprecated: true
          type: array
          items:
            $ref: '#/components/schemas/RawResponse'
      description: 'Used to return errors from the bank from each request


        - `400` - Returned by any `POST` endpoint when the body does not conform to the contract

        - `401` - Returned by any endpoint when an invalid `authToken` is used for authentication

        - `403` - Returned by any [Financial Data](/api-reference#financial-data) and any [Payments](/api-reference#payments)
        endpoint when the `Consent` is no longer authorised to access financial data or to make a payment

        - `404` - Returned by any endpoint where there are path parameters and the path parameters supplied are unable to
        find the desired resource

        - `409` - Returned by any `POST` endpoint when creating a resource that conflicts with any other existing resource
        e.g. [Create User](/api-reference/addUser)

        - `424` - Returned by any [Financial Data](/api-reference#financial-data) and any [Payments](/api-reference#payments)
        endpoint when the feature to be accessed is not supported by the `Institution`.

        - `500` - Returned by any endpoint when Yapily is down. If you encounter any false positives, please [notify us](mailto:support@yapily.com)'
      example:
        error:
          tracingId: 74b13ce8ed51419f92c5d609e04532de
          code: 424
          institutionError:
            errorMessage: '{"Code":"500 Internal Server Error","Id":"5ff8d331-4282-41e0-b5ef-1ac9ac39f009","Message":"Technical
              Error. Please try again later","Errors":[{"ErrorCode":"UK.OBIE.UnexpectedError","Message":"There was a problem
              processing your request. Please try again later"}]}'
            httpStatusCode: 500
          source: INSTITUTION
          status: FAILED_DEPENDENCY
    ApiResponseOfApplicationResponse:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/ResponseMeta'
        data:
          $ref: '#/components/schemas/ApplicationResponse'
    ApiResponseOfEventSubscriptionDeleteResponse:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/ResponseMeta'
        data:
          $ref: '#/components/schemas/EventSubscriptionDeleteResponse'
        links:
          type: object
          additionalProperties:
            type: string
        forwardedData:
          type: array
          items:
            $ref: '#/components/schemas/ResponseForwardedData'
        raw:
          deprecated: true
          type: array
          items:
            $ref: '#/components/schemas/RawResponse'
        tracingId:
          type: string
          writeOnly: true
    ApiResponseOfEventSubscriptionResponse:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/ResponseMeta'
        data:
          $ref: '#/components/schemas/EventSubscriptionResponse'
        links:
          type: object
          additionalProperties:
            type: string
        forwardedData:
          type: array
          items:
            $ref: '#/components/schemas/ResponseForwardedData'
        raw:
          deprecated: true
          type: array
          items:
            $ref: '#/components/schemas/RawResponse'
        tracingId:
          type: string
          writeOnly: true
    ApiResponseOfUserDeleteResponse:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/ResponseMeta'
        data:
          $ref: '#/components/schemas/UserDeleteResponse'
        links:
          type: object
          additionalProperties:
            type: string
        forwardedData:
          type: array
          items:
            $ref: '#/components/schemas/ResponseForwardedData'
        raw:
          deprecated: true
          type: array
          items:
            $ref: '#/components/schemas/RawResponse'
        tracingId:
          type: string
          writeOnly: true
    ApplicationRequest:
      type: object
      required:
      - name
      - merchantCategoryCode
      - ppcUserGroup
      - isContractPresent
      properties:
        name:
          type: string
          format: ^[a-zA-Z0-9 \-_\[\]\(\)]+$
          description: The name of the application
        merchantCategoryCode:
          type: string
          format: ^\d{4}$
          description: 'The ISO-18245 merchant category code of the merchant the application is being created for.


            Allowed values:


            - `0742` (Veterinary Services)

            - `0763` (Agricultural Cooperatives)

            - `0780` (Landscaping and Horticultural Services)

            - `1520` (General Contractor/Residential Building)

            - `1711` (Heating, Plumbing, Air Conditioning Contractors)

            - `1731` (Electrical Contractors)

            - `1740` (Masonry, Stonework, Tile Setting, Plastering, Insulation Contractors)

            - `1750` (Carpentry)

            - `1761` (Roof, Siding, and Sheet Metal Work Contractors)

            - `1771` (Contractors, Concrete)

            - `1799` (Special Trade Contractor - Not Elsewhere Classified)

            - `2741` (Miscellaneous Publishing and Printing Services)

            - `2791` (Typesetting, Plate Making and Related Services (Business to Business MCC))

            - `2842` (Specialty Cleaning, Polishing and Sanitation Preparations (Business to Business MCC))

            - `3000` (United Airlines)

            - `3001` (American Airlines)

            - `3002` (Pan American)

            - `3003` (Eurofly Airlines)

            - `3004` (Dragon Airlines)

            - `3005` (British Airways)

            - `3006` (Japan Air Lines)

            - `3007` (Air France)

            - `3008` (Lufthansa)

            - `3009` (Air Canada)

            - `3010` (KLM)

            - `3011` (AeroFlot)

            - `3012` (Qantas)

            - `3013` (Alitalia)

            - `3014` (Saudi Arabian Airlines)

            - `3015` (SWISS)

            - `3016` (SAS)

            - `3017` (South African Airway)

            - `3018` (Varig (Brazil))

            - `3020` (Air India)

            - `3021` (Air Algerie)

            - `3022` (PAL AIR)

            - `3023` (Mexicana)

            - `3024` (Pakistan International)

            - `3025` (Air New Zealand Ltd.)

            - `3026` (Emirates Airlines)

            - `3027` (UTA/InterAir)

            - `3028` (Air Malta)

            - `3029` (SN Brussels Airlines - SN BRUSSELS)

            - `3030` (Aerolineas Argentinas)

            - `3031` (Olympic Airways)

            - `3032` (El Al)

            - `3033` (Ansett Airlines)

            - `3034` (ETIHADAIR)

            - `3035` (TAP (Portugal))

            - `3036` (VASP (Brazil))

            - `3037` (EgyptAir)

            - `3038` (Kuwait Airways)

            - `3039` (Avianca)

            - `3040` (GulfAir (Bahrain))

            - `3041` (Balkan-Bulgarian)

            - `3042` (FinnAir)

            - `3043` (Aer Lingus)

            - `3044` (Air Lanka)

            - `3045` (Nigeria Airways)

            - `3046` (Cruzeiro do Sul (Bra))

            - `3047` (THY (Turkey))

            - `3048` (Royal Air Maroc)

            - `3049` (Tunis Air)

            - `3050` (Icelandair)

            - `3051` (Austrian Airlines)

            - `3052` (LANAIR)

            - `3053` (AVIACO (Spain))

            - `3054` (Ladeco (Chile))

            - `3055` (LAB (Bolivia))

            - `3056` (JetAir)

            - `3057` (Virgin America – VIR AMER)

            - `3058` (Delta)

            - `3059` (DBA Airlines-DBA AIR)

            - `3060` (NWA Air)

            - `3061` (Continental)

            - `3062` (Hapag-Lloyd Express - HLX)

            - `3063` (US Airways)

            - `3064` (Adria Airways)

            - `3065` (Airinter (AirInternational))

            - `3066` (Southwest)

            - `3068` (AIR STANA)

            - `3069` (Sun Country Air)

            - `3070` (Pacific Southwest Airlines (PSA))

            - `3071` (Air British Columbia)

            - `3072` (CEBU PAC)

            - `3073` (Air Cal)

            - `3075` (Singapore Airlines)

            - `3076` (Aeromexico)

            - `3077` (Thai Airways)

            - `3078` (China Airlines)

            - `3079` (Jetstar Airways - Jetstar)

            - `3081` (NordAir)

            - `3082` (Korean Airlines)

            - `3083` (Air Afrique)

            - `3084` (Eva Airlines)

            - `3085` (Midwest Express Airlines, Inc)

            - `3087` (Metro Airlines)

            - `3088` (Croatia Airlines)

            - `3089` (Tans Saero)

            - `3090` (Uni Airways)

            - `3094` (Zambia Airways)

            - `3096` (Air Zimbabwe)

            - `3097` (Spanair (abbreviation: SPANAIR))

            - `3098` (Asiana Airlines)

            - `3099` (Cathay Pacific)

            - `3100` (Malaysian Airline Sys)

            - `3102` (Iberia)

            - `3103` (Garuda (Indonesia))

            - `3105` (Piedmont)

            - `3106` (Braathens S.A.F.E. (Norway))

            - `3110` (Wings Airways)

            - `3111` (British Midland)

            - `3112` (Windward Island)

            - `3117` (Venezolana Int de Aviacion)

            - `3118` (Valley Airlines)

            - `3125` (Tan Airlines)

            - `3126` (Talair PTY Ltd.)

            - `3127` (Taca International)

            - `3129` (Surinam Airways)

            - `3130` (Sunworld International Airways)

            - `3131` (VLM Air)

            - `3132` (Frontier Airlines)

            - `3133` (Sunbelt Airlines)

            - `3135` (Sudan Airlines)

            - `3136` (Qatar Air)

            - `3137` (Singleton)

            - `3138` (Simmons Airlines)

            - `3141` (Seair Alaska)

            - `3143` (Scenic Airlines)

            - `3144` (Virgin Atlantic)

            - `3145` (San Juan)

            - `3146` (Luxair)

            - `3148` (Air Littoral SA)

            - `3151` (Air Laire)

            - `3154` (Princeville)

            - `3156` (Go Fly)

            - `3159` (PBA-Provincetwn-Bstn Air)

            - `3161` (All Nippon Airways)

            - `3164` (Norontair)

            - `3165` (New York Helicopter)

            - `3167` (Aero Continente - AEROCONTINENTE)

            - `3170` (Mount Cook)

            - `3171` (Canadian Airlines)

            - `3172` (Nation Air)

            - `3174` (JetBlue Airways)

            - `3175` (Middle East Air)

            - `3176` (Metroflight Airlines)

            - `3177` (AirTran Airways)

            - `3178` (Mesa Air)

            - `3180` (Westjet Airlines-WESTJET)

            - `3181` (Malev Hungarian Airlines)

            - `3182` (LOT (Poland))

            - `3183` (Oman Aviation - OMAN AIR)

            - `3184` (LIAT)

            - `3185` (LAV (Venezuela))

            - `3186` (LAP (Paraguay))

            - `3187` (LACSA (Costa Rica))

            - `3188` (Virgin Express - VIR EXP)

            - `3190` (Jugoslav Air)

            - `3191` (Island Airlines)

            - `3192` (Iran Air)

            - `3193` (Indian Airlines)

            - `3195` (Holiday Airlines)

            - `3196` (Hawaiian Air)

            - `3197` (Havasu Airlines)

            - `3198` (Harbor Airlines)

            - `3199` (Servicios Aereos Militares)

            - `3200` (Guyana Airways)

            - `3203` (Golden Pacific Air)

            - `3204` (Freedom Airlines)

            - `3206` (China Eastern Airlines (Abbr: China East Air))

            - `3207` (Empresa Ecuatoriana)

            - `3211` (Norwegian Air Shuttle - NORWEGIANAIR)

            - `3212` (Dominicana de Aviacion)

            - `3213` (Malmo Aviation - MALMO AV)

            - `3215` (Dan Air Services)

            - `3216` (Cumberland Airlines)

            - `3217` (CSA-Ceskoslovenske Aeroln)

            - `3218` (Crown Air)

            - `3219` (Copa)

            - `3220` (Compania Faucett)

            - `3221` (Transportes Aeros Mil)

            - `3222` (Command Airways)

            - `3223` (Comair)

            - `3226` (Skyways Air- SKYWAYS)

            - `3228` (Cayman Airways)

            - `3229` (SAETA)

            - `3231` (SAHSA)

            - `3233` (Capitol Air)

            - `3234` (CARIBAIR)

            - `3235` (Brockway Air)

            - `3236` (Air Arabia Airlines - Air Arab)

            - `3238` (Bemidji Aviation)

            - `3239` (Bar Harbor Airlines)

            - `3240` (Bahamasair)

            - `3241` (Aviateca (Guatemala))

            - `3242` (Avensa)

            - `3243` (Austrian Air Service)

            - `3245` (Easy Jet - EASYJET)

            - `3246` (Ryan Air - RYANAIR)

            - `3247` (Gol Airlines - GOL)

            - `3248` (Tam Airlines - TAM)

            - `3251` (Aloha Airlines)

            - `3252` (ALM-Antilean Airlines)

            - `3253` (America West)

            - `3254` (U.S. Air Shuttle)

            - `3256` (Alaska Airlines Inc.)

            - `3259` (American Trans Air)

            - `3260` (Spirit Airlines - SPIRIT)

            - `3261` (Air China)

            - `3262` (Reno Air)

            - `3263` (Aero Servicio Carabobo)

            - `3266` (Air Seychelles)

            - `3267` (Air Panama International)

            - `3268` (Air Pacific)

            - `3275` (Air Nevada)

            - `3276` (Air Midwest)

            - `3277` (Air Madagascar)

            - `3279` (Air LA)

            - `3280` (Air Jamaica)

            - `3282` (Air Djibouti)

            - `3284` (Aero Virgin Islands)

            - `3285` (AeroPeru)

            - `3286` (Aero Nicaraguensis)

            - `3287` (Aero Coach Aviation)

            - `3291` (Ariana Afghan)

            - `3292` (Cyprus Airways)

            - `3293` (Ecuatoriana)

            - `3294` (Ethiopian Airlines)

            - `3295` (Kenya Airways)

            - `3296` (Air Berlin-AIRBERLIN)

            - `3297` (Tarom Romanian Air Transport)

            - `3298` (Air Mauritius)

            - `3299` (Wideroe''s Flyveselskap)

            - `3351` (Affiliated Auto Rental)

            - `3352` (American International)

            - `3353` (Brooks Rent a Car)

            - `3354` (Action Auto Rental)

            - `3355` (SIXT Car Rental)

            - `3357` (Hertz)

            - `3359` (Payless Car Rental)

            - `3360` (Snappy Car Rental)

            - `3361` (Airways Rent a Car)

            - `3362` (Altra Auto Rental)

            - `3364` (Agency Rent a Car)

            - `3366` (Budget Rent a Car)

            - `3368` (Holiday R-A-C)

            - `3370` (Rent-a-Wreck)

            - `3374` (Accent Rent-A-Car)

            - `3376` (Ajax R-A-C)

            - `3380` (Triangle Rent a Car)

            - `3381` (Europ Car)

            - `3385` (Tropical R-A-C)

            - `3386` (Showcase Rental Cars)

            - `3387` (Alamo Rent a Car)

            - `3388` (Merchants Rent-A-Car, Inc)

            - `3389` (Avis R-A-C)

            - `3390` (Dollar R-A-C)

            - `3391` (Europe by Car)

            - `3393` (National Car Rental)

            - `3394` (Kemwell Group R-A-C)

            - `3395` (Thrify Car Rental)

            - `3396` (Tilden R-A-C)

            - `3398` (Econo Car R-A-C)

            - `3400` (Auto Host Car Rentals)

            - `3405` (Enterprise R-A-C)

            - `3409` (General Rent-a-Car)

            - `3412` (A-1 R-A-C)

            - `3414` (Godfrey National)

            - `3420` (ANSA International)

            - `3421` (Allstate Rent-a-Car)

            - `3423` (Avcar Rent-a-Car)

            - `3425` (Automate Rent-a-Car)

[...]
